#sudo_comments {
    width: 100%;
}
#detail-comment-main{
    float: left;
    width: 100%;
}
#sudo_comments:after {
    display: block;
    content: " ";
    clear: both;
}
#sudo_comments {
    margin-top: 20px;
    width: calc(100%);
    padding: 0 5px;
}
.comment_form {
    width: 100%;
}
.comment_editor {
    width: calc(100%);
    min-height: 100px;
    padding: 5px;
    margin-bottom: -4px;
    border: 1px solid #cacaca;
    border-radius: 4px 4px 0 0;
    font-family: sans-serif;
    font-size: 1.2em;
}
.comment_form_footer {
    width: calc(100%);
    height: 40px;
    padding: 0 5px;
    border: 1px solid #cacaca;
    border-top: none;
    overflow: hidden;
}
.comment_form_footer_left {
    float: left;
    height: 40px;
    line-height: 40px;
}
.comment_form_footer_left #you_agree_to_the_rules{
    color: #288ad6;
}
.comment_form_author_name {
    font-weight: bold;
}
.comment_form_author_remove {
    color: #4a90e2;
}
.comment_form_footer_right {
    float: right;
}
.comment_preview_image {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
}
.comment_preview_image span {
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
.comment_preview_image img {
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 5px;
}
.comment_btn_image {
    display: block;
    float: right;
    height: 28px;
    line-height: 28px;
    margin: 6px 5px 0;
    padding: 0 10px;
    font-size: 14px;
    color: #888;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.comment_btn {
    display: block;
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    padding: 0 25px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #368ad3;
    border-radius: 4px;
    background: #368ad3;
}
.comment_author_info {
    padding: 15px 10px;
    background: #fafafa;
    display: none;
}
.comment_author_title {
    font-size: 1.2em;
    font-weight: bold;
}
.comment_author_info_item {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}
.comment_author_info_item label {
    margin-right: 10px;
}
.comment_author_info_item input[type=text] {
    width: calc(100%);
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
}
.comment_author_info_item .comment_btn {
    float: left;
}
#comment_list {
    margin-top: 15px;
}
.comment_item {
    width: 100%;
    margin-bottom: 25px;
    overflow: hidden;
}
.comment_item_author {
    width: 100%;
    height: 26px;
    overflow: hidden;
}
.comment_item_author_avatext {
    float: left;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #ddd;
    margin-right: 7px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(255,255,255,.2);
}
.comment_item_author_name {
    float: left;
    overflow: hidden;
    height: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
}
.comment_item_author_admin {
    background: #cd0000;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px solid #cd0000;
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    margin: 5px 0 0 10px;
}
.comment_item_content {
    padding: 10px 0;
}
.comment_item_image {
    padding: 5px;
}
.comment_item_image img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}
.comment_item_meta {
    font-size: 0.9em;
}
.comment_item_meta .comment_item_reply {
    color: #4a90e2;
}
.comment_item_meta .comment_item_time {
    color: #999;
    font-size: 0.9em;
}
.comment_item_reply_wrap {
    padding: 0 10px;
}
.comment_item_reply_wrap.has_child {
    background: #f8f8f8;
    border: 1px solid #dfdfdf;
    position: relative;
    margin-top: 10px;
}
.comment_item_reply_wrap.has_child:after, .comment_item_reply_wrap.has_child:before {
    top: -20px;
    left: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.comment_item_reply_wrap.has_child:before {
    border-color: rgba(238,238,238,0);
    border-bottom-color: #f8f8f8;
    border-width: 11px;
    margin-left: -11px;
    z-index: 1;
}
.comment_item_reply_wrap.has_child:after {
    border-color: rgba(255,255,255,0);
    border-bottom-color: #dfdfdf;
    border-width: 10px;
    margin-left: -10px;
}
.comment_item_reply_wrap .comment_item {
    margin-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
}
.comment_item_reply_wrap .comment_item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
#comment_list .comment_form {
    margin-top: 10px;
    display: none;
}
.comments_more {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #288ad6;
}