#admin-bar {
    width: 100%;
    height: 36px;
    background: #252627;
    color: #fff;
}
#admin-bar:before {
    content: "";
    display: block;
    clear: both;
}
#admin-bar-backend, #admin-bar-edit {
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
#admin-bar-user {
    display: block;
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}