.menu_section {
    margin-bottom: 0;
}
img.loading {
    position: relative;
    left: 7px;
    top: 7px;
}

.btn-primary {
    background-color: #424F63;
    border-color: #374152;
    color: #FFFFFF;
}

.form-preview {
    position: fixed;
    top: 141px;
    right: 42px;
    z-index: 1;
}

.fa-calendar-o {
    top: -8px !important;
}

.form-asterick {
    color: red;
}

.icon-green:before {
    color: green;
}

.font-size17 {
    font-size: 17px;
    padding: 0 3px;
}

.list-role {
    padding-top: 10px;
}

.icon-red {
    color: red;
}

.mgt7 {
    padding: 12px 0;
}

.fa-user-md {
    font-size: 23px;
}

#datatable-checkbox .center {
    text-align: center;
}

#datatable-checkbox .center input[type='text'] {
    padding: 3px 7px;
}

.paging {
    float: right;
    height: 24px;
    margin: 10px 0px;
}

.form-actions {
    margin-left: 207px;
    position: fixed;
    top: 100px;
    right: 40px;
}

p.close-error {
    position: absolute;
    right: 25px;
    top: 11px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

iframe#mytextarea_ifr {
    min-height: 300px !important;
}

#search {
    padding-bottom: 20px;
}

#search .form-group {
    float: left;
    margin-right: 5px;
}
.pagination {
    margin: 0;
    float: right;
}

p.close-alert {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    font-size: 22px;
    right: 20px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}
.multi-cate-wrap {
    padding: 10px;
    background: #fafafa;
}

.wrap_seometa {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0px;
    background: #f9f9f9;
    border-top: 3px solid #999;
}

.preview_snippet_main {
    border: 1px solid #bebebe;
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
}

.preview_snippet_title {
    color: #12c;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.preview_snippet_link {
    color: #093;
    font-style: normal;
    font-size: 13px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.preview_snippet_des {
    color: #222;
    font-size: 13px;
}

.suget_pos_image img {
    width: 100%;
    max-height: 200px
}

.btn_image_core_laravel {
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    background: #9acd32
}

.remove_image_sudo_media:before {
    color: #006f00;
    content: "\f05c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 20px
}

.remove_image_sudo_media:hover::before {
    color: red
}

form.form-lang {
    display: inline;
    float: right;
    padding-top: 20px;
}

select.language {
    height: 25px;
}

a.alias {
    padding-top: 8px;
    font-size: 16px;
    color: #0073aa;
    text-decoration: underline;
}

button.edit-slug {
    margin-left: 10px;
    height: 24px;
    font-size: 13px;
    background: #2a3f54;
    color: #fff;
    border: 0;
}

button.ok {
    margin-left: 10px;
    height: 24px;
    font-size: 13px;
    background: #3498db;
    color: #fff;
    border: 0;
    display: none;
}

button.huy {
    margin-left: 5px;
    height: 24px;
    font-size: 13px;
    background: #ff1e3d;
    color: #fff;
    border: 0;
    display: none;
}

.div-slug {
    margin-top: 8px;
}

span.slug {
    font-weight: bold;
}

#duong-dan {
    display: none;
}

input.input-slug {
    width: 66%;
}

#purge-cache {
    display: block;
    line-height: 57px;
    padding: 0 10px;
}

#purge-cache:hover {
    background: #D9DEE4;
}

a.btn-add-image {
    background: #2b54e8;
    padding: 7px 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 10px;
}

#image img {
    width: 150px;
    padding-top: 10px;
}

a#insert-image-content {
    font-size: 14px;
    background: #55595a;
    color: #fff;
    padding: 3px 8px;
    position: relative;
    top: 0px;
}

.row-title {
    font-size: 14px;
    font-weight: 600;
    color: #0073aa;
}

.result_image {
    width: 100%;
    overflow: hidden;
    padding: 20px 0 10px;
}
.result_image_item {
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    position: relative;
    cursor: move;
}
.result_image_item img {
    width: 80px;
    text-align: center;
}
.result_image .del_img {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
}
.relate-result,
.relate-suggest {
    position: relative;
    margin-bottom: 5px;
}
.relate-suggest {
    float: left;
    padding: 0;
}
.relate-suggest li {
    display: block;
    line-height: 1.3em;
    cursor: pointer;
    color: #0096dc;
    padding: 5px 20px;
    border: 1px solid #eee;
}
.relate-item {
    font-weight: bold;
}
.relate-item-remove {
    color: red;
    margin-left: 5px;
}

/* short_code_wrap */
.short_code_wrap {
    padding: 0px;
    margin: 10px 0;
    width: 100%;
    float: left;
}
.short_code_list {
    float: left;
    width: 100%;
}
.short_code_item {
    margin: 10px 0;
    float: left;
    width: 100%;
}
.short_code_key {
    width: 20%;
    float: left;
}
.short_code_content {
    width: 80%;
    float: left;
    padding-left: 15px;
}
.short_code_content textarea{
    width: 100%;
}
.delete_short_code {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.comment_admin {
    width: 100%;
    background: #ddd;
    padding: 5px;
    position: relative;
    height: 30px;
    overflow: hidden;
    line-height: 20px;
}
.comment_admin_show_more {
    position: absolute;
    right: 5px;
    line-height: 20px;
    cursor: pointer;
    z-index: 1;
    top: 5px;
    background: #ddd;
}

.quick_comment {
    width: 100%;
}
.quick_comment input {
    width: 90%;
    float: left;
}
.quick_comment button {
    width: 10%;
    float: left;
    margin-right: 0;
}

.detail_config_block {}
.detail_config_block input {
    width: 95%;
    margin-bottom: 10px;
    display: inline-block
}

.detail_config_block .delete_item {
    display: inline-block;
    margin-top: -9px;
}
.detail_config_block textarea {
    float: left;
    width: 100%;
}