.order_list{
    .wrap{
        #title{
            color: #e31e30;
            padding: 20px 0;
            font-size: 16px;
        }
        table{
            width: 100%;
            text-align: center;
            thead{
                border-bottom: 1px solid #ddd;
                tr{
                    th{
                        padding-bottom: 10px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 20px 10px;
                        border-bottom: 1px solid #ddd;
                        font-weight: bold;
                        .custom-qty{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span{
                                display: block;
                                margin: 0 10px;
                            }
                            button{
                                cursor: pointer;
                                height: 20px;
                                width: 20px;
                                border-radius: 20px;
                                border: 1px solid #183f76;
                                line-height: 20px;
                                i{
                                    color: #183f76;
                                    font-size: 12px;
                                }
                            }
                        }
                        &:first-child{
                            border-bottom: 0;
                        }
                        &:nth-child(2){
                            border-bottom: 0;
                            position: relative;
                            &::after{
                                content: '';
                                width: 180px;
                                height: 1px;
                                bottom: -1px;
                                left: 52px;
                                position: absolute;
                                background-color: #ddd;
                            }
                        }
                        &:last-child{
                            border-bottom: 0;
                        }
                        .img{
                            height: 80px;
                            width: 70px;
                            border: 1px solid #ddd ;
                            overflow: hidden;
                            padding: 5px;
                            display: inline-block;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }  
                            &_delete{
                                width: 30px;
                                display: inline-block;
                                img{
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                    &:last-child{
                        td{
                            border-bottom: unset;
                            position: unset;
                            &::after{
                                content: unset;
                                width: unset;
                                height: unset;
                                bottom: unset;
                                left: unset;
                                position: unset;
                                background-color: unset;
                            }
                           
                        }
                    }
                }
            }
        }
        .cart_navigation{
            text-align: right;
            a{
                display: inline-block;
                color: white;
                padding: 10px 25px;
                transition: 0.5s all;
                text-transform: uppercase;
                border: 1px solid #368ad3;
                color: #368ad3;
                &:hover{
                    background: #368ad3;
                    color: #fff;
                }
            }
        }
    }
}
.check_out_row {
    display: table;
    width: 100%;
    padding: 10px 0;
    .checkout-summary-label {
        display: table-cell;
        font-size: 14px;
        color: #757575;
        letter-spacing: 0;
        line-height: 16px;
        vertical-align: middle;
        width: 50%;
    }
    .checkout-summary-value {
        display: table-cell;
        font-size: 16px;
        line-height: 21px;
        text-align: right;
        color: #202020;
        letter-spacing: -.44px;
        vertical-align: middle;
        width: 50%;
    }
}