.customer{
    .wrap{
        display: flex;
    }
    &_form{
        width: 50%;
        margin-right: 2%;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        &_title{
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            text-transform: uppercase;  
        }
        &_content{
            padding: 10px;
            mar
            .sff-gender{
                width: 100%;
                height: 32px;
                label{
                    margin-right: 20px;
                    position: relative;
                    input{
                        background-color: initial;
                        cursor: default;
                        box-sizing: border-box;
                        margin: 0px 0px 0px -22px;
                        padding: initial;
                        border: initial;
                        height: 15px;
                    }
                    [type="radio"]:checked, [type="radio"]:not(:checked){
                        position: absolute;
                        left: -9999px;
                    }
                    [type="radio"]:checked, [type="radio"]:checked{
                        position: absolute;
                        left: 1px;
                    }
                }
            }
            .sff_list{
                display: flex;
                flex-wrap: wrap;
                &_item{
                    width: calc(49% );
                    input{
                        width: calc(100%);
                        height: 34px;
                        border: 1px solid #cacaca;
                        border-radius: 4px;
                        padding: 0 4px;
                        margin-bottom: 6px;
                    }
                    &:first-child{
                        margin-right: 2%;
                    }
                    &:last-child{
                        button{
                            float: right;
                            padding: 0 15px;
                            height: 38px;
                            border: 1px solid #f9f2f4;
                            border-radius: 4px;
                            background: #288ad6;
                            cursor: pointer;
                            span{
                                &:first-child{
                                    display: block;
                                    width: 100%;
                                    height: 16px;
                                    line-height: 16px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    font-size: 12px;
                                    color: #fff;
                                }
                                &:last-child{
                                    display: block;
                                    width: 100%;
                                    height: 14px;
                                    line-height: 14px;
                                    text-align: center;
                                    font-size: 11px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &_check{
        width: 50%;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        .title{
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            text-transform: uppercase;
        }
        &_form{
            padding: 10px;
            form{
                display: flex;
                flex-wrap: wrap;
                select{
                    width: 120px;
                    height: 34px;
                    border: 1px solid #cacaca;
                    border-radius: 4px;
                    margin-right: 10px;
                }
                input.gcf-info{
                    width: calc(100% - 260px);
                    padding: 0 5px;
                    float: left;
                    margin-right: 10px;
                    height: 34px;
                    border: 1px solid #cacaca;
                    border-radius: 4px;
                }
                input.gcf-submit{
                    width: 120px;
                    height: 34px;
                    line-height: 34px;
                    border: none;
                    border-radius: 4px;
                    background: #288ad6;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }
        .note{
            margin-top: 20px;
            padding: 0 10px;
        }
    }
}