/*chi tiết trang dịch vụ*/
$color_star:#ff9600;
.service_detail{
    .wrap{
        position: relative;
        .title{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border-bottom: 1px solid #e1e1e1;
            padding: 10px 0;
            h1{
                font-size: 16px;
                margin-right: 20px;
            }
            .show-rate{
                display: flex;
                align-items: center;
                span{
                   
                    color:#368ad3 ;
                }
                ul{
                    display: flex;
                    margin-right: 5px;
                    li{
                        color:$color_star ;
                    }
                }
                
            }
            .share_facebook{
                position: absolute;
                right: 10px;
            }
        }
    }
    .content_service{
        display: flex;
    }
    &_left{
        margin-top: 20px;
        width: 75%;
        margin-right: 2%;
        .detail_slide{
            display: flex;
            width: 100%;
            .slide{
                width: 45%;
                margin-right: 2%;
                position: relative;
                .detailProduct-left__top{
                    width: 100%;
                    overflow: hidden;
                    height: 400px;
                   
                    position: relative;
                    img{
                        height: 400px;
                        width: 100%;
                        object-fit: cover;
                    }
                    .slick-prev,.slick-next{
                        border-radius: 20px;
                        border: 1px solid #0b82de;
                        height: 20px;
                        width: 20px;
                        line-height: 20px;
                        text-align: center;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                    .slick-prev{
                        background-image: url('/assets/images/icon/icon-left.png');
                        bottom: 0 !important;
                        top: unset;
                        right: 0 !important;
                        left: 84%;
                        z-index: 9999;
                    }
                    .slick-next{
                        background-image: url('/assets/images/icon/icon-right.png');
                        bottom: 0 !important;
                        top: unset;
                        right: 3%;
                    }
                }
               
                &_list{
                  
                    margin-top: 20px;
                    img{
                        border: 1px solid #ddd;
                        height: 79px;
                        width: 98px;
                        padding: 5px;
                        object-fit: cover;
                        margin-right: 3px;
                        border-radius: 5px;
                    }
                    .slick-list {
                        .slick-track{
                            .slick-slide{
                                margin-right: 4px;
                                cursor: pointer;
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                            .slick-current{
                                img{
                                    border: 1px solid #f9844c;
                                }
                            }
                        }
                    }
                   
                }
            }
            .detail{
                width: 55%;
                #price{
                    display: flex;
                    align-items: center;
                    strong{
                        color: #d73737;
                        font-size: 20px;
                        margin-right: 10px;
                    }
                    del{
                        color: #9c9c9c;
                        font-size: 14px;
                    }
                }
                #descript{
                    line-height: 25px;
                    margin: 5px 0;
                }
                .promotion{
                    margin-top: 15px;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    .title{
                        font-size: 16px;
                        padding: 10px 10px;
                        background: #f7f7f7;
                        color: #000;
                        font-weight: bold;
                        text-transform: uppercase;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                    .info_promotion{
                        padding: 10px;
                        line-height: 25px;
                        ul{
                            li{
                                i{
                                    width: 16px;
                                    height: 16px;
                                    display: inline-block;
                                    background: #468ee5;
                                    color: #fff;
                                    text-align: center;
                                    border-radius: 50%;
                                    margin: 0;
                                    line-height: 16px;
                                    font-style: normal;
                                    border: 1px solid #468ee5;
                                    border-top: 0;
                                    padding-bottom: 1px;
                                    font-size: 11px
                                }
                            }
                        }
                    }
                }
                .order{
                    display: flex;
                    margin-top: 16px;
                    .item{
                        cursor: pointer;
                       
                        color: #fff;
                        text-align: center;
                        padding: 10px 0;
                        text-transform: uppercase;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        ul{
                            li{
                                a{
                                    color: #fff;
                                }
                                &:first-child{
                                    color: #fff;
                                    font-size: 16px;
                                    text-transform: none;
                                    margin-bottom: 5px;
                                }
                                &:last-child{
                                    font-size: 14px;
                                    text-transform: none;
                                    color: #fff;
                                }
                            }
                        }
                        i{
                            font-size: 30px;
                             color: #fff;
                             margin-right: 14px; 
                         }
                        &:first-child{
                            background-color: #c90012;
                            margin-right: 10px;
                            width: 50%;
                            img{
                                width: 48px;
                                margin-right: 0;
                            }
                        }
                        &:last-child{
                            background-color: #368ad3;
                            width: 50%;
                            img{
                                width: 30px;
                                color: #fff;
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .advisory{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    justify-content: center;
                   span{
                       a{
                           color: #cd0000;
                           font-weight: bold;
                       }
                   }
                }
                ul.service{
                    background-image: linear-gradient(to right, #0b669f, #008cdc);
                    padding: 5px 10px;
                    line-height: 25px;
                    li{
                        color: #fff;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .price_list{
            width: 100%;
            margin-top: 10px;
            border-top: 1px solid #ddd;
            margin: 10px 0;
            .content_title{
                margin: 10px 0;
                border-bottom: 0px !important;
                #title_content{               
                    font-size: 18px ;
                    color: #000;
                    text-transform: unset;
                }
            }
            
            table{
                width: 100%;
                tbody{
                    tr{
                       &:first-child{
                            td{
                                background-color: #eaebef;
                                text-transform: uppercase;
                            }
                       }
                    }
                }
                thead{
                    tr{
                        background-color: #e9ebee;
                       th{
                        padding: 10px 0;
                       }
                    }
                }
                tr{
                   text-align: center;
                   td{
                       padding: 5px 10px;
                       border-width: 1px;
                       border-color: #e9ebee;
                       border-style: solid;
                       border-bottom-width: 1px;
                   }
                }
            }
            p{
                line-height: 25px;
                margin-top: 10px;
            }
        }
        .specifications{
            position: relative;
            border-top: 1px solid #ddd;
            margin-top: 26px;
            .content_title{
                margin: 10px 0;
                border-bottom: 0px !important;
                #title_content{               
                    font-size: 18px ;
                    color: #000;
                    text-transform: unset;
                }
            }
            #specifications_detail{
                position: relative;
                height: 520px;
                overflow: hidden;
                font-size: 16px !important;
                padding: 0 10px;
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 38px;
                    width: 100%;
                    background: linear-gradient(transparent,#fff);
                }
            }
            .product-detail-show{
                margin-top: 25px;
                width: 100%;
                text-align: center;
                font-size: 17px;
              
                overflow: auto;
                line-height: 20px;
                .product-detail-view{

                    width: 240px;
                 
                    font-size: 14px;
                    color: #288ad6;
                    cursor: pointer;
                    border: 1px solid #288ad6;
                    border-radius: 4px;
                    text-align: center;

                    transition: all ease 0.5s;
                    cursor: pointer;
                    background: #fff;
                    
                    padding: 12px 5px;
                    margin-bottom: 10px;
                    i{
                        margin-left: 10px;
                        font-size: 18px;
                    }
                    &:hover{
                        background-color: #cd0000;
                        border: 1px solid #cd0000;
                        color: #fff;
                    }
                }
                .product-detail-viewdefault{
                    display: none;
                }
            }
        }
        .m_detail{
            border-top: 1px solid #9c9c9c;
            border-bottom: 1px solid #9c9c9c;
            margin: 20px 0;
            padding: 20px 0;
            .product{
                display: flex;
                align-items: center;
                >a{
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .img{
                        width: 48%;
                        overflow: hidden;
                        margin-right: 2%;
                        border: 1px solid #a5a5a5;
                        padding: 10px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .infor{
                        width: 48%;
                        #title{
                            font-size: 14px;
                            line-height: 20px;
                            height: 42px;
                            overflow: hidden;
                        }
                        #price{
                            display: flex;
                            align-items: center;
                            margin: 10px 0 0px 10px;
                            strong{
                                color: #cd0000;
                                margin-right: 5px;
                                font-size: 18px;
                            }
                            del{
                                color: #c3c3c3;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .order{
                    width: 50%;
                    p#order{
                        display: flex;
                        a{
                            border-radius: 5px;
                            color: #fff;
                            text-align: center;
                            padding: 14px 0;
                            font-size: 16px;
                            text-transform: uppercase;
                            &:first-child{
                                background-color: #e31e30;
                                margin-right: 10px;
                                width: 50%;
                            }
                            &:last-child{
                                background-color: #0b659d;
                                width: 50%;
                            }
                        }
                    }
                    #advisory{
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        img{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .m_comment{
            margin-top: 20px;
            #detail-comment-tab{
                height: 35px;
                .detail-comment-title{
                    float: left;
                    .content_title{
                        border-bottom: unset;
                        #title_content{
                            font-size: 18px;
                            color: #000;
                            text-transform: unset;
                        }
                    }
                }
                .detail-rating{
                    float: right;
                    display: flex;
                    margin-top: -3px;
                    align-items: center;
                    span{
                        margin-right: 5px;
                    }
                    .rating-action{
                        a{
                            color: #ff9727;
                        }
                    }
                }
            }
        }
    }
}


