$color_header: #cd0000;
$color_banner: #ee0000;
$color_title_content: #cd0000;
$color_left_service_title: #cd0000;
@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 1199px) {
  .wrap {
    width: 100%;
    padding: 0 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #header {
    display: none;
  }

  .header_mobile {
    display: block;
    background-color: $color_header;

    &_list {
      display: flex;
      position: relative;
      align-items: center;
    }

    &_left {
      a {
        img {
          // width: 220px;
          max-width: 50%;
        }
      }
    }

    &_right {
      position: absolute;
      right: 0;
      display: flex;

      .cart {
        position: relative;

        a {
          span {
            position: absolute;
            top: -8px;
            left: 14px;

            i {
              font-size: 20px;
              color: #1aceff;
            }
          }

          img {

          }
        }
      }

      .menu_click {
        margin-left: 30px;

        a {
          i {
            font-size: 28px;
          }
        }
      }

    }

    &_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative;

      form {
        input {
          width: 100%;
          padding: 5px;
          font-size: 15px;
          border: none;
          float: left;
          border-radius: 8px;
        }

        button {
          width: 30px;
          height: 26px;
          position: absolute;
          margin: 1px 0 0 -32px;
          border: none;
          color: #fff;
          background: #cd0000;
          border-radius: 8px;
        }
      }
    }

    .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            .all-icon {
              margin-bottom: 5px;
              img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle;
              }
            }
            span{
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  /*banner*/
  .banner {
    margin-top: 5px;

    .wrap {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &_left {
      width: 100%;
      margin-right: 0;

      &_list {
        display: none;
      }
    }

    &_right {
      display: none;
    }
  }
  /*content*/
  .content {
    .wrap {

    }

    &_title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      height: 40px;
      &::before {
        position: absolute;
        content: '';
        height: 40px;
        width: 3px;
        background-color: $color_title_content;
      }

      #title_content {
        text-transform: uppercase;
        margin-left: 15px;
        color: $color_title_content;
        font-weight: 600;
      }

      ul {
        display: none;
      }
    }

    &_list {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // margin-top: 5px;
      &_item {
        width: 33.333%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        position: relative;

        a {
          display: block;
        }

        .img {
          width: 100%;
          overflow: hidden;
          height: 330px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;

          i {
            display: none;
          }

          p#view {
            color: $color_banner;
            display: block;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

        }

        .hover {
          display: none;

          #title {
            // font-weight: unset;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
          }

          p {
            float: left;
            text-align: left;
            width: 100%;
            line-height: 20px;
          }
        }

        .shopping_cart {
          position: absolute;
          top: 108px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: all ease 0.5s;

          p {
            height: 30px;
            width: 30px;
            line-height: 30px;
            display: block;
            border-radius: 25px;

            i {
              line-height: 25px;
              text-align: center;
            }
          }

          p#phone {
            background-color: #fff;
            margin-right: 10px;

            i {
              color: #000;
            }
          }

          p#cart {
            background-color: #cd0000;

            i {
              color: #fff;
            }
          }
        }

        &:hover {
          border: 1px solid #cd0000;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

          .hover {
            display: none;
          }

          .infor {
            visibility: visible;
            opacity: 1;
          }

          .shopping_cart {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      /*linh kiện điệ thoại*/
      &_accessories#list_product {
        width: 50% !important;

        .img {
          height: 200px !important;
        }
      }

      &_accessories {
        width: 33.333%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        padding: 10px 10px;
        position: relative;

        .img {
          width: 100%;
          overflow: hidden;
          height: 320px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;
          text-align: center;

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

          #price {
            strong {
              color: $color_header;
            }
          }

        }
      }
    }

    &_price-list {
      display: flex;
      flex-wrap: wrap;
     a {
        display: block;
        width: 50%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;

        .img {
          width: 100%;
          overflow: hidden;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .customer {
    order: 2;
    margin-bottom: 30px;

    &_form {
      display: none;
    }

    &_check {
      width: 100%;

      &_form {
        form {
          display: flex;
          flex-direction: column;

          select {
            width: 100%;

          }

          input.gcf-info {
            width: 100%;
            margin: 10px 0;
          }

          input.gcf-submit {
            width: 100%;
          }
        }
      }

      .note {
        margin: 5px 0;
        padding: 0 10px;
      }
    }
  }
  .footer {
    display: none;
  }
  footer-bottom {
    display: none;
  }
  .news {
    order: 1;

    &_list {
      display: flex;

      &_item {
        width: 100%;
        margin-right: 0;

        .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px;
        }
      }
    }
  }
  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;

    .wrap {
      display: flex;
      padding: 10px 0;

      a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        text-align: center;
        img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
  .service {
    .wrap {
      flex-direction: column;
    }

    margin-bottom: 0;

    &_left {
      width: 100%;

      .menu_item {
        display: none;
      }

      &_mobile_list_select {
        display: flex;

        select {
          height: 28px;
          border-radius: 5px;
          background-color: $color_header;
          color: #fff;
          width: 50%;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    &_right {
      width: 100%;

      .category-content-title {
        .category-search {
          display: none;
        }
      }
    }
  }
  /*
    chi tiết dịch vụ
  */
  .service_detail {
    .wrap {
      .title {
        border-bottom: unset;

        .show-rate {
          a {
            span {
              color: #2d69c4;
            }
          }
        }
      }
    }

    .content_service {
      flex-direction: column;

      .news_right {
        display: none;
      }
    }

    &_left {
      width: 100%;
      margin-right: 0;

      .detail_slide {
        flex-direction: column;
        width: 100%;

        .slide {
          width: 100%;
        }

        .detail {
          width: 100%;
        }
      }

      .m_detail {
        border-bottom: none;
        margin: unset;
        padding: unset;
        margin-bottom: 10px;
        margin-top: 15px;
        .product {
          flex-direction: column;
          align-items: unset;
          margin-top: 15px;
          > a {
            width: 100%;
          }

          .order {
            width: 100%;
            margin-top: 20px;
          }
        }
      }

      .m_comment {
        #detail-comment-tab {
          border-bottom: none;

          .detail-comment-title {
            width: 100%;
            border-bottom: 1px solid #9c9c9c;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }

          .detail-rating {
            float: left;
          }
        }
      }
    }
  }
  .news#new_category {
    flex-direction: column;

    .news_left {
      width: 100%;
      margin-right: 0;

      &_hot {
        flex-direction: column;
        width: 100%;

        .list {
          width: 100%;

          a {
            .infor {
              p#detail {
                display: none;
              }
            }
          }

          &:last-child {
            display: none;
          }
        }
      }

      &_all {
        .item {
          a {
            .infor {
              display: flex;
              flex-direction: column;

              p#time {
                order: 2;
              }

              #title {
                order: 1;
              }

              p#detail {
                display: none;
              }
            }
          }
        }
      }
    }

    .news_right {
      display: none;
    }
  }
  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%);

    &_main {
      display: flex;
      flex-direction: column;

      .popup_product_info, .popup_customer_info {
        width: 100%;

        #customer-gender {
          width: 100%;
        }

        input {
          width: 100%;
          float: left;
        }

        #customer-name, #customer-phone, #customer-email {
          float: left;
          width: 100%;
        }
      }
    }
  }
  #image_cart {
    display: none;
  }
  #stt_cart {
    display: none;
  }
  .page_order {
    .form_order {
      .row_list {
        flex-direction: column;

        .col-md-4 {
          width: 100%;
          float: left;
          margin-right: 0;
          margin-bottom: 20px;

          .box_order {
            .list_input {
              input {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #eee;
              }
            }

            textarea {
              width: 100%;
              margin-top: 20px;
              padding: 10px;
            }
          }
        }
      }

      .list_btn {
        .btn_order {
          button {
            width: auto;
          }
        }
      }
    }
  }
  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px;

    .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap;

      &-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center;

        a {
          color: #d0021b !important;
          font-size: 18px;
        }

        select {
          border: 0;
          color: #278AD6;
        }
      }
    }
  }
  .fancybox-overlay-fixed{
    .fancybox-desktop{
      width: 90% !important;
      height: auto;
      position: absolute;
      top: 202px;
      left: 50% !important;
      opacity: 1;
      overflow: visible;
      transform: translateX(-50%) !important;
      .fancybox-skin{
        .fancybox-outer{
          .fancybox-inner{
            width: auto !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {

  .wrap {
    width: 100%;
    padding: 0 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #header {
    display: none;
  }

  .header_mobile {
    display: block;
    background-color: $color_header;

    &_list {
      display: flex;
      position: relative;
      align-items: center;
    }

    &_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative;

      form {
        input {
          width: 100%;
          padding: 5px;
          font-size: 15px;
          border: none;
          float: left;
          border-radius: 8px;
        }

        button {
          width: 30px;
          height: 26px;
          position: absolute;
          margin: 1px 0 0 -32px;
          border: none;
          color: #fff;
          background: #cd0000;
          border-radius: 8px;
        }
      }
    }

    &_left {
      a {
        img {
          // width: 220px;
          max-width: 50%;
        }
      }
    }

    &_right {
      position: absolute;
      right: 0;
      display: flex;

      .cart {
        position: relative;

        a {
          span {
            position: absolute;
            top: -8px;
            left: 14px;

            i {
              font-size: 20px;
              color: #1aceff;
            }
          }

          img {

          }
        }
      }

      .menu_click {
        margin-left: 30px;

        a {
          i {
            font-size: 28px;
          }
        }
      }

    }

    .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            .all-icon {
              margin-bottom: 5px;
              img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle;
              }
            }
            span{
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  /*banner*/
  .banner {
    margin-top: 5px;
    margin-bottom: 10px;
    .wrap {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &_left {
      width: 100%;
      margin-right: 0;

      &_list {
        display: none;
      }
    }

    &_right {
      display: none;
    }
  }
  /*content*/
  .content {
    .wrap {

    }

    &_title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      height: 40px;
      &::before {
        position: absolute;
        content: '';
        height: 40px;
        width: 3px;
        background-color: $color_title_content;
      }

      #title_content {
        text-transform: uppercase;
        margin-left: 15px;
        color: $color_title_content;
        font-weight: 600;
      }

      ul {
        display: none;
      }
    }

    &_list {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // margin-top: 5px;
      &_item {
        width: 25%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        position: relative;

        a {
          display: block;
        }

        .img {
          width: 100%;
          overflow: hidden;
          height: 200px;

          img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;

          i {
            display: none;
          }

          p#view {
            color: $color_banner;
            display: block;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

        }

        .hover {
          display: none;

          #title {
            // font-weight: unset;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
          }

          p {
            float: left;
            text-align: left;
            width: 100%;
            line-height: 20px;
          }
        }

        .shopping_cart {
          position: absolute;
          top: 108px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: all ease 0.5s;

          p {
            height: 30px;
            width: 30px;
            line-height: 30px;
            display: block;
            border-radius: 25px;

            i {
              line-height: 25px;
              text-align: center;
            }
          }

          p#phone {
            background-color: #fff;
            margin-right: 10px;

            i {
              color: #000;
            }
          }

          p#cart {
            background-color: #cd0000;

            i {
              color: #fff;
            }
          }
        }

        &:hover {
          border: 1px solid #cd0000;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

          .hover {
            display: none;
          }

          .infor {
            visibility: visible;
            opacity: 1;
          }

          .shopping_cart {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      /*linh kiện điệ thoại*/
      &_accessories#list_product {
        width: 25% !important;

        .img {
          height: 200px !important;
        }
      }

      &_accessories {
        width: 25%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        padding: 10px 10px;
        position: relative;

        .img {
          width: 100%;
          overflow: hidden;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;
          text-align: center;

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

          #price {
            strong {
              color: $color_header;
            }
          }

        }
      }
    }

    &_price-list {
      display: flex;
      flex-wrap: wrap;
      a {
        display: block;
        width: 25%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;

        .img {
          width: 100%;
          overflow: hidden;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .customer {
    order: 2;
    margin-bottom: 30px;

    &_form {
      display: none;
    }

    &_check {
      width: 100%;

      &_form {
        form {
          display: flex;
          flex-direction: column;

          select {
            width: 100%;

          }

          input.gcf-info {
            width: 100%;
            margin: 10px 0;
          }

          input.gcf-submit {
            width: 100%;
          }
        }
      }

      .note {
        margin: 5px 0;
        padding: 0 10px;
      }
    }
  }
  .footer {
    display: none;
  }
  footer-bottom {
    display: none;
  }
  .news {
    order: 1;

    &_list {
      flex-direction: unset;
      display: flex;
      flex-wrap: wrap;

      &_item {
        width: 33.33%;
        margin-right: 0;
        padding: 0 5px;

        .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px;
        }
      }
    }
  }
  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;

    .wrap {
      display: flex;
      padding: 10px 0;

      a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        text-align: center;
        img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
  .service {
    .wrap {
      flex-direction: column;
    }

    margin-bottom: 0;

    &_left {
      width: 100%;

      .menu_item {
        display: none;
      }

      &_mobile_list_select {
        display: flex;

        select {
          height: 28px;
          border-radius: 5px;
          background-color: $color_header;
          color: #fff;
          width: 50%;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    &_right {
      width: 100%;

      .category-content-title {
        .category-search {
          display: none;
        }
      }
    }
  }
  /*
    chi tiết dịch vụ
  */
  .service_detail {
    .wrap {
      .title {
        border-bottom: unset;

        .show-rate {
          a {
            span {
              color: #2d69c4;
            }
          }
        }
      }
    }

    .content_service {
      flex-direction: column;

      .news_right {
        display: none;
      }
    }

    &_left {
      width: 100%;
      margin-right: 0;

      .detail_slide {
        flex-direction: column;
        width: 100%;

        .slide {
          width: 100%;
        }

        .detail {
          width: 100%;
        }
      }

      .m_detail {
        border-bottom: none;
        margin: unset;
        padding: unset;
        margin-bottom: 10px;
        margin-top: 15px;
        .product {
          flex-direction: column;
          align-items: unset;
          margin-top: 15px;
          > a {
            width: 100%;
          }

          .order {
            width: 100%;
            margin-top: 20px;
          }
        }
      }

      .m_comment {
        #detail-comment-tab {
          border-bottom: none;

          .detail-comment-title {
            width: 100%;
            border-bottom: 1px solid #9c9c9c;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }

          .detail-rating {
            float: left;
          }
        }
      }
    }
  }
  .news#new_category {
    flex-direction: column;

    .news_left {
      width: 100%;
      margin-right: 0;

      &_hot {
        flex-direction: column;
        width: 100%;

        .list {
          width: 100%;

          a {
            .infor {
              p#detail {
                display: none;
              }
            }
          }

          &:last-child {
            display: none;
          }
        }
      }

      &_all {
        .item {
          a {
            .infor {
              display: flex;
              flex-direction: column;

              p#time {
                order: 2;
              }

              #title {
                order: 1;
              }

              p#detail {
                display: none;
              }
            }
          }
        }
      }
    }

    .news_right {
      display: none;
    }
  }
  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%);

    &_main {
      display: flex;
      flex-direction: column;

      .popup_product_info, .popup_customer_info {
        width: 100%;

        #customer-gender {
          width: 100%;
        }

        input {
          width: 100%;
          float: left;
        }

        #customer-name, #customer-phone, #customer-email {
          float: left;
          width: 100%;
        }
      }
    }
  }
  #image_cart {
    display: none;
  }
  #stt_cart {
    display: none;
  }
  .page_order {
    .form_order {
      .row_list {
        flex-direction: column;

        .col-md-4 {
          width: 100%;
          float: left;
          margin-right: 0;
          margin-bottom: 20px;

          .box_order {
            .list_input {
              input {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #eee;
              }
            }

            textarea {
              width: 100%;
              margin-top: 20px;
              padding: 10px;
            }
          }
        }
      }

      .list_btn {
        .btn_order {
          button {
            width: auto;
          }
        }
      }
    }
  }
  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px;

    .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap;

      &-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center;

        a {
          color: #d0021b !important;
          font-size: 18px;
        }

        select {
          border: 0;
          color: #278AD6;
        }
      }
    }
  }
  /*
contact
*/
  .contact {
    .wrap {
      h1#title {
        font-size: 20px;
        color: #cd0000;
        display: none;
      }

      .map_contact {
        display: none;
      }
    }

    &_list {
      flex-direction: column;
      background: #e1e1e1;
      padding: 10px;
      margin-bottom: 0;

      .left {
        display: block;
      }

      .right {
        width: 100%;

        .form_contact {
          form {
            .form-group {
              margin-bottom: 10px;

              input, textarea {
                padding: 10px 10px;
                resize: vertical;
                border: 1px solid #dedede;
                outline: none;
                transition: 0.3s all ease;
                box-sizing: border-box;
                width: 100%;
              }
            }

            #email_phone {
              display: flex;
              flex-wrap: wrap;

              input {
                width: 100%;

                &:first-child {
                  margin-right: 0;
                  margin-bottom: 10px;
                }
              }
            }

            #contact_buttom {
              text-align: center;
              background-color: #cd0000;
              color: #fff;
              display: block;
              width: 100%;
              padding: 10px 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .modal {
    .modal-content {
      width: 90%;
    }
  }
  .moal_form{
    margin: 0 10px;
    margin-top: 15px;
  }
  .wrap {
    width: 100%;
    padding: 0 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #header {
    display: none;
  }

  .header_mobile {
    display: block;
    background-color: $color_header;

    &_list {
      display: flex;
      position: relative;
      align-items: center;
    }

    &_left {
      a {
        img {
          // width: 220px;
          max-width: 50%;
        }
      }
    }

    &_right {
      position: absolute;
      right: 0;

      display: flex;

      .cart {
        position: relative;

        a {
          span {
            position: absolute;
            top: -8px;
            left: 14px;

            i {
              font-size: 20px;
              color: #1aceff;
            }
          }

          img {

          }
        }
      }

      .menu_click {
        margin-left: 30px;

        a {
          i {
            font-size: 28px;
          }
        }
      }

    }

    &_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative;

      form {
        input {
          width: 100%;
          padding: 5px;
          font-size: 15px;
          border: none;
          float: left;
          border-radius: 8px;
        }

        button {
          width: 30px;
          height: 26px;
          position: absolute;
          margin: 1px 0 0 -32px;
          border: none;
          color: #fff;
          background: #cd0000;
          border-radius: 8px;
        }
      }
    }

    .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            .all-icon {
              margin-bottom: 5px;
              img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle;
              }
            }
            span{
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  /*banner*/
  .banner {
    margin-top: 5px;
    margin-bottom: 10px;
    .wrap {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &_left {
      width: 100%;
      margin-right: 0;

      &_list {
        display: none;
      }
    }

    &_right {
      display: none;
    }
  }
  /*content*/
  .content {
    .wrap {

    }

    &_title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      height: 40px;
      &::before {
        position: absolute;
        content: '';
        height: 40px;
        width: 3px;
        background-color: $color_title_content;
      }

      #title_content {
        text-transform: uppercase;
        margin-left: 15px;
        color: $color_title_content;
        font-weight: 600;
      }

      ul {
        display: none;
      }
    }

    &_list {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // margin-top: 5px;
      &_item {
        width: 33.333%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        position: relative;

        a {
          display: block;
        }

        .img {
          width: 100%;
          overflow: hidden;
          height: 250px;

          img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;

          i {
            display: none;
          }

          p#view {
            color: $color_banner;
            display: block;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

        }

        .hover {
          display: none;

          #title {
            // font-weight: unset;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
          }

          p {
            float: left;
            text-align: left;
            width: 100%;
            line-height: 20px;
          }
        }

        .shopping_cart {
          position: absolute;
          top: 108px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: all ease 0.5s;

          p {
            height: 30px;
            width: 30px;
            line-height: 30px;
            display: block;
            border-radius: 25px;

            i {
              line-height: 25px;
              text-align: center;
            }
          }

          p#phone {
            background-color: #fff;
            margin-right: 10px;

            i {
              color: #000;
            }
          }

          p#cart {
            background-color: #cd0000;

            i {
              color: #fff;
            }
          }
        }

        &:hover {
          border: 1px solid #cd0000;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

          .hover {
            display: none;
          }

          .infor {
            visibility: visible;
            opacity: 1;
          }

          .shopping_cart {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      /*linh kiện điệ thoại*/
      &_accessories#list_product {
        width: 33.333% !important;

        .img {
          height: 200px !important;
        }
      }

      &_accessories {
        width: 33.333%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        padding: 10px 10px;
        position: relative;

        .img {
          width: 100%;
          overflow: hidden;
          height: 250px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;
          text-align: center;

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

          #price {
            strong {
              color: $color_header;
            }
          }

        }
      }
    }

    &_price-list {
      display: flex;
      flex-wrap: wrap;
     a {
        display: block;
        width: 33.333%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;

        .img {
          width: 100%;
          overflow: hidden;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .customer {
    order: 2;
    margin-bottom: 30px;

    &_form {
      display: none;
    }

    &_check {
      width: 100%;

      &_form {
        form {
          display: flex;
          flex-direction: column;

          select {
            width: 100%;

          }

          input.gcf-info {
            width: 100%;
            margin: 10px 0;
          }

          input.gcf-submit {
            width: 100%;
          }
        }
      }

      .note {
        margin: 5px 0;
        padding: 0 10px;
      }
    }
  }
  .footer {
    display: none;
  }
  footer-bottom {
    display: none;
  }
  .news {
    order: 1;

    &_list {
      flex-direction: unset;
      display: flex;
      flex-wrap: wrap;

      &_item {
        width: 33.333%;
        margin-right: 0;

        .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px;
        }
      }
    }
  }
  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;

    .wrap {
      display: flex;
      padding: 10px 0;

      a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        text-align: center;
        img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
  .service {
    .wrap {
      flex-direction: column;
    }

    margin-bottom: 0;

    &_left {
      width: 100%;

      .menu_item {
        display: none;
      }

      &_mobile_list_select {
        display: flex;

        select {
          height: 28px;
          border-radius: 5px;
          background-color: $color_header;
          color: #fff;
          width: 50%;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    &_right {
      width: 100%;

      .category-content-title {
        .category-search {
          display: none;
        }
      }
    }
  }
  /*
    chi tiết dịch vụ
  */
  .service_detail {
    .wrap {
      .title {
        border-bottom: unset;

        .show-rate {
          margin-top: 10px;

          a {
            span {
              color: #2d69c4;
            }
          }
        }
      }
    }

    .content_service {
      flex-direction: column;

      .news_right {
        display: none;
      }
    }

    &_left {
      width: 100%;
      margin-right: 0;

      .detail_slide {
        flex-direction: column;
        width: 100%;

        .slide {
          width: 100%;
        }

        .detail {
          width: 100%;
          #price{
            margin-top: 15px;
          }
        }
      }

      .m_detail {
        border-bottom: none;
        margin: unset;
        padding: unset;
        margin-bottom: 10px;
        margin-top: 15px;
        .product {
          flex-direction: column;
          align-items: unset;
          margin-top: 15px;
          > a {
            width: 100%;
          }

          .order {
            width: 100%;
            margin-top: 20px;
          }
        }
      }

      .m_comment {
        #detail-comment-tab {
          border-bottom: none;

          .detail-comment-title {
            width: 100%;
            border-bottom: 1px solid #9c9c9c;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }

          .detail-rating {
            float: left;
          }
        }
      }
    }
  }
  .news#new_category {
    flex-direction: column;

    .news_left {
      width: 100%;
      margin-right: 0;

      &_hot {
        flex-direction: column;
        width: 100%;

        .list {
          width: 100%;

          a {
            .infor {
              p#detail {
                display: none;
              }
            }
          }

          &:last-child {
            display: none;
          }
        }
      }

      &_all {
        .item {
          a {
            .infor {
              display: flex;
              flex-direction: column;

              p#time {
                order: 2;
              }

              #title {
                order: 1;
              }

              p#detail {
                display: none;
              }
            }
          }
        }
      }
    }

    .news_right {
      display: none;
    }
  }
  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%);

    &_main {
      display: flex;
      flex-direction: column;

      .popup_product_info, .popup_customer_info {
        width: 100%;

        #customer-gender {
          width: 100%;
        }

        input {
          width: 100%;
          float: left;
        }

        #customer-name, #customer-phone, #customer-email {
          float: left;
          width: 100%;
        }
      }
    }
  }
  #image_cart {
    display: none;
  }
  #stt_cart {
    display: none;
  }
  .page_order {
    .form_order {
      .row_list {
        flex-direction: column;

        .col-md-4 {
          width: 100%;
          float: left;
          margin-right: 0;
          margin-bottom: 20px;

          .box_order {
            .list_input {
              input {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #eee;
              }
            }

            textarea {
              width: 100%;
              margin-top: 20px;
              padding: 10px;
            }
          }
        }
      }

      .list_btn {
        .btn_order {
          button {
            width: auto;
          }
        }
      }
    }
  }
  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px;

    .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap;

      &-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center;

        a {
          color: #d0021b !important;
          font-size: 18px;
        }

        select {
          border: 0;
          color: #278AD6;
        }
      }
    }
  }
  /*
contact
*/
  .contact {
    .wrap {
      h1#title {
        font-size: 20px;
        color: #cd0000;
        display: none;
      }

      .map_contact {
        display: none;
      }
    }

    &_list {
      flex-direction: column;
      background: #e1e1e1;
      padding: 10px;
      margin-bottom: 0;

      .left {
       
        display: block;
      }

      .right {
        width: 100%;

        .form_contact {
          form {
            .form-group {
              margin-bottom: 10px;

              input, textarea {
                padding: 10px 10px;
                resize: vertical;
                border: 1px solid #dedede;
                outline: none;
                transition: 0.3s all ease;
                box-sizing: border-box;
                width: 100%;
              }
            }

            #email_phone {
              display: flex;
              flex-wrap: wrap;

              input {
                width: 100%;

                &:first-child {
                  margin-right: 0;
                  margin-bottom: 10px;
                }
              }
            }

            #contact_buttom {
              text-align: center;
              background-color: #cd0000;
              color: #fff;
              display: block;
              width: 100%;
              padding: 10px 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .fancybox-overlay-fixed{
    .fancybox-desktop{
      width: 90% !important;
      height: auto;
      position: absolute;
      top: 202px;
      left: 50% !important;
      opacity: 1;
      overflow: visible;
      transform: translateX(-50%) !important;
      .fancybox-skin{
        .fancybox-outer{
          .fancybox-inner{
            width: auto !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  .modal {
    .modal-content {
      width: 90%;
    }
  }
  .moal_form{
    margin: 0 10px;
    margin-top: 15px;
  }
  .wrap {
    width: 100%;
    padding: 0 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #header {
    display: none;
  }

  .header_mobile {
    display: block;
    background-color: $color_header;

    &_list {
      display: flex;
      position: relative;
      align-items: center;
    }

    &_left {
      a {
        img {
          // width: 220px;
          max-width: 50%;
        }
      }
    }

    &_right {
      position: absolute;
      right: 0;
      display: flex;

      .cart {
        position: relative;

        a {
          span {
            position: absolute;
            top: -8px;
            left: 14px;

            i {
              font-size: 20px;
              color: #1aceff;
            }
          }

          img {

          }
        }
      }

      .menu_click {
        margin-left: 30px;

        a {
          i {
            font-size: 28px;
          }
        }
      }

    }

    &_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative;

      form {
        input {
          width: 100%;
          padding: 5px;
          font-size: 15px;
          border: none;
          float: left;
          border-radius: 8px;
        }

        button {
          width: 30px;
          height: 26px;
          position: absolute;
          margin: 1px 0 0 -32px;
          border: none;
          color: #fff;
          background: #cd0000;
          border-radius: 8px;
        }
      }
    }

    .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 30%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            .all-icon {
              margin-bottom: 5px;
              img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle;
              }
            }
            span{
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  /*banner*/
  .banner {
    margin-top: 5px;
    margin-bottom: 10px;
    .wrap {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &_left {
      width: 100%;
      margin-right: 0;

      &_list {
        display: none;
      }
    }

    &_right {
      display: none;
    }
  }
  /*content*/
  .content {
    .wrap {

    }

    &_title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      height: 40px;
      &::before {
        position: absolute;
        content: '';
        height: 40px;
        width: 3px;
        background-color: $color_title_content;
      }

      #title_content {
        text-transform: uppercase;
        margin-left: 15px;
        color: $color_title_content;
        font-weight: 600;
        font-size: 12px;
      }
      select{
        width: 85px;
      }
      ul {
        display: none;
      }
    }

    &_list {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // margin-top: 5px;
      &_item {
        width: 50%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        position: relative;

        a {
          display: block;
        }

        .img {
          width: 100%;
          overflow: hidden;
          height: 150px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;

          i {
            display: none;
          }

          p#view {
            color: $color_banner;
            display: block;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

        }

        .hover {
          display: none;

          #title {
            // font-weight: unset;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
          }

          p {
            float: left;
            text-align: left;
            width: 100%;
            line-height: 20px;
          }
        }

        .shopping_cart {
          position: absolute;
          top: 108px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: all ease 0.5s;

          p {
            height: 30px;
            width: 30px;
            line-height: 30px;
            display: block;
            border-radius: 25px;

            i {
              line-height: 25px;
              text-align: center;
            }
          }

          p#phone {
            background-color: #fff;
            margin-right: 10px;

            i {
              color: #000;
            }
          }

          p#cart {
            background-color: #cd0000;

            i {
              color: #fff;
            }
          }
        }

        &:hover {
          border: 1px solid #cd0000;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

          .hover {
            display: none;
          }

          .infor {
            visibility: visible;
            opacity: 1;
          }

          .shopping_cart {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      /*linh kiện điệ thoại*/
      &_accessories#list_product {
        width: 50% !important;

        .img {
          height: 150px !important;
        }
      }

      &_accessories {
        width: 50%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        padding: 10px 10px;
        position: relative;

        .img {
          width: 100%;
          overflow: hidden;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;
          text-align: center;

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

          #price {
            strong {
              color: $color_header;
            }
          }

        }
      }
    }

    &_price-list {
      display: flex;
      flex-wrap: wrap;
      a {
        display: block;
        width: 50%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;

        .img {
          width: 100%;
          overflow: hidden;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .customer {
    order: 2;
    margin-bottom: 30px;

    &_form {
      display: none;
    }

    &_check {
      width: 100%;

      &_form {
        form {
          display: flex;
          flex-direction: column;

          select {
            width: 100%;

          }

          input.gcf-info {
            width: 100%;
            margin: 10px 0;
          }

          input.gcf-submit {
            width: 100%;
          }
        }
      }

      .note {
        margin: 5px 0;
        padding: 0 10px;
      }
    }
  }
  .footer {
    display: none;
  }
  footer-bottom {
    display: none;
  }
  .news {
    order: 1;

    &_list {
      flex-direction: column;

      &_item {
        width: 100%;
        margin-right: 0;

        .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px;
        }
      }
    }
  }
  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;

    .wrap {
      display: flex;
      padding: 10px 0;

      a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        text-align: center;
        img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
  .service {
    .wrap {
      flex-direction: column;
    }

    margin-bottom: 0;

    &_left {
      width: 100%;

      .menu_item {
        display: none;
      }

      &_mobile_list_select {
        display: flex;

        select {
          height: 28px;
          border-radius: 5px;
          background-color: $color_header;
          color: #fff;
          width: 50%;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    &_right {
      width: 100%;
      &_filter{
        label.price{
          display: none;
        }
      }
      .category-content-title {
        .category-search {
          display: none;
        }
      }
    }
  }
  /*
    chi tiết dịch vụ
  */
  .service_detail {
    .wrap {
      .title {
        border-bottom: unset;
        display: flex;
        flex-direction: column;
        align-items: unset;

        .show-rate {
          margin-top: 10px;

          a {
            span {
              color: #2d69c4;
            }
          }
        }
        .share_facebook{
          position: unset;
          right: unset;
          margin-top: 10px;
        }
      }
    }

    .content_service {
      flex-direction: column;

      .news_right {
        display: none;
      }
    }

    &_left {
      width: 100%;
      margin-right: 0;

      .detail_slide {
        flex-direction: column;
        width: 100%;

        .slide {
          width: 100%;
        }

        .detail {
          width: 100%;
          #price{
            margin-top: 15px;
          }
          .order{
            flex-direction: column;
            .item{
              width: 100%;
              &:first-child{
                margin-right: 0;
                width: 100%;
                margin-bottom: 10px;
              }
              &:last-child{
                width: 100%;
              }
            }
          }
        }
      }

      .m_detail {
        border-bottom: none;
        margin: unset;
        padding: unset;
        margin-bottom: 10px;
        margin-top: 15px;
        .product {
          flex-direction: column;
          align-items: unset;
          margin-top: 15px;
          > a {
            width: 100%;
          }

          .order {
            width: 100%;
            margin-top: 20px;
          }
        }
      }

      .m_comment {
        #detail-comment-tab {
          border-bottom: none;

          .detail-comment-title {
            width: 100%;
            border-bottom: 1px solid #9c9c9c;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }

          .detail-rating {
            float: left;
          }
        }
      }
    }
  }
  .news#new_category {
    flex-direction: column;

    .news_left {
      width: 100%;
      margin-right: 0;

      &_hot {
        flex-direction: column;
        width: 100%;

        .list {
          width: 100%;

          a {
            .infor {
              p#detail {
                display: none;
              }
            }
          }

          &:last-child {
            display: none;
          }
        }
      }

      &_all {
        .item {
          a {
            .infor {
              display: flex;
              flex-direction: column;

              p#time {
                order: 2;
              }

              #title {
                order: 1;
              }

              p#detail {
                display: none;
              }
            }
          }
        }
      }
    }

    .news_right {
      display: none;
    }
  }
  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%);

    &_main {
      display: flex;
      flex-direction: column;

      .popup_product_info, .popup_customer_info {
        width: 100%;

        #customer-gender {
          width: 100%;
        }

        input {
          width: 100%;
          float: left;
        }

        #customer-name, #customer-phone, #customer-email {
          float: left;
          width: 100%;
        }
      }
    }
  }
  #image_cart {
    display: none;
  }
  #stt_cart {
    display: none;
  }
  .page_order {
    .form_order {
      .row_list {
        flex-direction: column;

        .col-md-4 {
          width: 100%;
          float: left;
          margin-right: 0;
          margin-bottom: 20px;

          .box_order {
            .list_input {
              input {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #eee;
              }
            }

            textarea {
              width: 100%;
              margin-top: 20px;
              padding: 10px;
            }
          }
        }
      }

      .list_btn {
        .btn_order {
          button {
            width: auto;
          }
        }
      }
    }
  }
  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px;

    .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap;

      &-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center;

        a {
          color: #d0021b !important;
          font-size: 18px;
        }

        select {
          border: 0;
          color: #278AD6;
        }
      }
    }
  }
  /*
contact
*/
  .contact {
    .wrap {
      h1#title {
        font-size: 20px;
        color: #cd0000;
        display: none;
      }

      .map_contact {
        display: none;
      }
    }

    &_list {
      flex-direction: column;
      background: #e1e1e1;
      padding: 10px;
      margin-bottom: 0;

      .left {
        display: block;
      }

      .right {
        width: 100%;

        .form_contact {
          form {
            .form-group {
              margin-bottom: 10px;

              input, textarea {
                padding: 10px 10px;
                resize: vertical;
                border: 1px solid #dedede;
                outline: none;
                transition: 0.3s all ease;
                box-sizing: border-box;
                width: 100%;
              }
            }

            #email_phone {
              display: flex;
              flex-wrap: wrap;

              input {
                width: 100%;

                &:first-child {
                  margin-right: 0;
                  margin-bottom: 10px;
                }
              }
            }

            #contact_buttom {
              text-align: center;
              background-color: #cd0000;
              color: #fff;
              display: block;
              width: 100%;
              padding: 10px 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }


.fancybox-overlay-fixed{
  .fancybox-desktop{
    width: 90% !important;
    height: auto;
    position: absolute;
    top: 202px;
    left: 50% !important;
    opacity: 1;
    overflow: visible;
    transform: translateX(-50%) !important;
    .fancybox-skin{
      .fancybox-outer{
        .fancybox-inner{
          width: auto !important;
        }
      }
    }
  }
}


}

@media only screen and (max-width: 320px) {

  .header_mobile {
    display: block;
    background-color: $color_header;

    &_list {
      display: flex;
      position: relative;
      align-items: center;
    }

    &_left {
      a {
        img {
          // width: 220px;
          max-width: 50%;
        }
      }
    }

    &_right {
      position: absolute;
      right: 0;
      display: flex;

      .cart {
        position: relative;

        a {
          span {
            position: absolute;
            top: -8px;
            left: 14px;

            i {
              font-size: 20px;
              color: #1aceff;
            }
          }

          img {

          }
        }
      }

      .menu_click {
        margin-left: 30px;

        a {
          i {
            font-size: 28px;
          }
        }
      }

    }

    &_search {
      width: 100%;
      height: 30px;
      float: left;
      position: relative;

      form {
        input {
          width: 100%;
          padding: 5px;
          font-size: 15px;
          border: none;
          float: left;
          border-radius: 8px;
        }

        button {
          width: 30px;
          height: 26px;
          position: absolute;
          margin: 1px 0 0 -32px;
          border: none;
          color: #fff;
          background: #cd0000;
          border-radius: 8px;
        }
      }
    }

    .header_mobile_menu {
      display: none;
      background-color: #f4f4f4;
      z-index: 99999;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 10px;
      width: 94%;
      position: absolute;
      border-radius: 5px;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          border: 1.5px solid #f15b67;
          margin: 5px;
          width: 29.77%;
          height: 90px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            .all-icon {
              margin-bottom: 5px;
              img {
                width: 50px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 0;
                vertical-align: middle;
              }
            }
            span{
              color: #333;
              font-size: 10px;
              font-weight: bold;
              display: block;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }


  .modal {
    .modal-content {
      width: 90%;
      p{
        text-align: center;
      }
    }
  }
  .moal_form{
    margin: 0 -5px;
    margin-top: 15px;
  }
  .fancybox-overlay-fixed{
    .fancybox-desktop{
      width: 90% !important;
      height: auto;
      position: absolute;
      top: 202px;
      left: 50% !important;
      opacity: 1;
      overflow: visible;
      transform: translateX(-50%) !important;
      .fancybox-skin{
        .fancybox-outer{
          .fancybox-inner{
            width: auto !important;
          }
        }
      }
    }
  }
  .wrap {
    width: 100%;
    padding: 0 10px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #header {
    display: none;
  }

  /*banner*/
  .banner {
    margin-top: 5px;
    margin-bottom: 10px;
    .wrap {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &_left {
      width: 100%;
      margin-right: 0;

      &_list {
        display: none;
      }
    }

    &_right {
      display: none;
    }
  }
  /*content*/
  .content {
    .wrap {

    }

    &_title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      height: 40px;
      &::before {
        position: absolute;
        content: '';
        height: 40px;
        width: 3px;
        background-color: $color_title_content;
      }

      #title_content {
        text-transform: uppercase;
        margin-left: 15px;
        color: $color_title_content;
        font-weight: 600;
        font-size: 12px;
      }

      ul {
        display: none;
      }
      select{
        width: 85px;
      }
    }

    &_list {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // margin-top: 5px;
      &_item {
        width: 50%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        position: relative;

        a {
          display: block;
        }

        .img {
          width: 100%;
          overflow: hidden;
          height: 120px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;

          i {
            display: none;
          }

          p#view {
            color: $color_banner;
            display: block;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

        }

        .hover {
          display: none;

          #title {
            // font-weight: unset;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
          }

          p {
            float: left;
            text-align: left;
            width: 100%;
            line-height: 20px;
          }
        }

        .shopping_cart {
          position: absolute;
          top: 108px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: all ease 0.5s;

          p {
            height: 30px;
            width: 30px;
            line-height: 30px;
            display: block;
            border-radius: 25px;

            i {
              line-height: 25px;
              text-align: center;
            }
          }

          p#phone {
            background-color: #fff;
            margin-right: 10px;

            i {
              color: #000;
            }
          }

          p#cart {
            background-color: #cd0000;

            i {
              color: #fff;
            }
          }
        }

        &:hover {
          border: 1px solid #cd0000;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

          .hover {
            display: none;
          }

          .infor {
            visibility: visible;
            opacity: 1;
          }

          .shopping_cart {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      /*linh kiện điệ thoại*/
      &_accessories#list_product {
        width: 50% !important;

        .img {
          height: 150px !important;
        }
      }

      &_accessories {
        width: 50%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;
        padding: 10px 10px;
        position: relative;

        .img {
          width: 100%;
          overflow: hidden;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
          }
        }

        .infor {
          width: 100%;
          margin-top: 10px;
          transition: all ease 0.5s;
          text-align: center;

          #title {
            font-weight: unset;
            font-size: 14px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
          }

          #price {
            strong {
              color: $color_header;
            }
          }

        }
      }
    }

    &_price-list {
      display: flex;
      flex-wrap: wrap;
      a {
        display: block;
        width: 50%;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #e1e1e1;

        .img {
          width: 100%;
          overflow: hidden;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .customer {
    order: 2;
    margin-bottom: 30px;

    &_form {
      display: none;
    }

    &_check {
      width: 100%;

      &_form {
        form {
          display: flex;
          flex-direction: column;

          select {
            width: 100%;

          }

          input.gcf-info {
            width: 100%;
            margin: 10px 0;
          }

          input.gcf-submit {
            width: 100%;
          }
        }
      }

      .note {
        margin: 5px 0;
        padding: 0 10px;
      }
    }
  }
  .footer {
    display: none;
  }
  footer-bottom {
    display: none;
  }
  .news {
    order: 1;

    &_list {
      flex-direction: column;

      &_item {
        width: 100%;
        margin-right: 0;

        .infor {
          position: absolute;
          background-color: #f5f4f4;
          left: 0;
          right: 0;
          bottom: 10px;
          margin: 0 20px;
          padding: 5px 20px;
        }
      }
    }
  }
  .mobile_footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;

    .wrap {
      display: flex;
      padding: 10px 0;

      a {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;

        img {
          max-width: 40px;
          max-height: 40px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
  .service {
    .wrap {
      flex-direction: column;
    }

    margin-bottom: 0;

    &_left {
      width: 100%;

      .menu_item {
        display: none;
      }

      &_mobile_list_select {
        display: flex;

        .item_filter {
          width: 50%;

          &:first-child {
            margin-right: 4%;
          }

          > p {
            background-color: $color_header;
            color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px 5px;

            span {
              color: #fff;
              width: 100%;
              font-size: 12px;
              display: block;
            }

            i {
              margin-top: -3px;
            }
          }

          .list_filter {
            background: $color_header;
            display: none;

            > a {
              padding: 8px 0;
              border-bottom: 1px solid #e1e1e1;
              display: block;
              width: 100%;
              color: #fff;
              font-size: 12px;
            }
          }
        }
      }
    }

    &_right {
      width: 100%;
      &_filter{
        label.price{
          display: none;
        }
      }
      .category-content-title {
        .category-search {
          display: none;
        }
      }
    }
  }
  /*
    chi tiết dịch vụ
  */
  .service_detail {
    .wrap {
      .title {
        border-bottom: unset;
        display: flex;
        flex-direction: column;
        align-items: unset;
        .show-rate {
          margin-top: 10px;

          a {
            span {
              color: #2d69c4;
            }
          }
        }
        .share_facebook{
          position: unset;
          right: unset;
          margin-top: 10px;
        }
      }
    }

    .content_service {
      flex-direction: column;

      .news_right {
        display: none;
      }
    }

    &_left {
      width: 100%;
      margin-right: 0;

      .detail_slide {
        flex-direction: column;
        width: 100%;

        .slide {
          width: 100%;
        }

        .detail {
          width: 100%;
        }
      }

      .m_detail {
        border-bottom: none;
        margin: unset;
        padding: unset;
        margin-bottom: 10px;
        margin-top: 15px;
        .product {
          flex-direction: column;
          align-items: unset;
          margin-top: 15px;
          > a {
            width: 100%;
          }

          .order {
            width: 100%;
            margin-top: 20px;
          }
        }
      }

      .m_comment {
        #detail-comment-tab {
          border-bottom: none;

          .detail-comment-title {
            width: 100%;
            border-bottom: 1px solid #9c9c9c;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }

          .detail-rating {
            float: left;
          }
        }
      }
    }
  }
  .news#new_category {
    flex-direction: column;

    .news_left {
      width: 100%;
      margin-right: 0;

      &_hot {
        flex-direction: column;
        width: 100%;

        .list {
          width: 100%;

          a {
            .infor {
              p#detail {
                display: none;
              }
            }
          }

          &:last-child {
            display: none;
          }
        }
      }

      &_all {
        .item {
          a {
            .infor {
              display: flex;
              flex-direction: column;

              p#time {
                order: 2;
              }

              #title {
                order: 1;
              }

              p#detail {
                display: none;
              }
            }
          }
        }
      }
    }

    .news_right {
      display: none;
    }
  }
  .popup {
    left: 50% !important;
    width: 94%;
    transform: translateX(-50%);

    &_main {
      display: flex;
      flex-direction: column;

      .popup_product_info, .popup_customer_info {
        width: 100%;

        #customer-gender {
          width: 100%;
        }

        input {
          width: 100%;
          float: left;
        }

        #customer-name, #customer-phone, #customer-email {
          float: left;
          width: 100%;
        }
      }
    }
  }
  #image_cart {
    display: none;
  }
  #stt_cart {
    display: none;
  }
  .page_order {
    .form_order {
      .row_list {
        flex-direction: column;

        .col-md-4 {
          width: 100%;
          float: left;
          margin-right: 0;
          margin-bottom: 20px;

          .box_order {
            .list_input {
              input {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #eee;
              }
            }

            textarea {
              width: 100%;
              margin-top: 20px;
              padding: 10px;
            }
          }
        }
      }

      .list_btn {
        .btn_order {
          button {
            width: auto;
          }
        }
      }
    }
  }
  #footer_infor_mobile {
    order: 3;
    margin-bottom: 90px;

    .footer-support {
      display: flex;
      background: #fff;
      flex-wrap: wrap;

      &-item {
        width: 50%;
        border-style: solid;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: #e1e1e1;
        padding: 15px 0;
        text-align: center;

        a {
          color: #d0021b !important;
          font-size: 18px;
        }

        select {
          border: 0;
          color: #278AD6;
        }
      }
    }
  }
  /*
contact
*/
  .contact {
    .wrap {
      h1#title {
        font-size: 20px;
        color: #cd0000;
        display: none;
      }

      .map_contact {
        display: none;
      }
    }

    &_list {
      flex-direction: column;
      background: #e1e1e1;
      padding: 10px;
      margin-bottom: 0;

      .left {
        display: block;
      }

      .right {
        width: 100%;

        .form_contact {
          form {
            .form-group {
              margin-bottom: 10px;

              input, textarea {
                padding: 10px 10px;
                resize: vertical;
                border: 1px solid #dedede;
                outline: none;
                transition: 0.3s all ease;
                box-sizing: border-box;
                width: 100%;
              }
            }

            #email_phone {
              display: flex;
              flex-wrap: wrap;

              input {
                width: 100%;

                &:first-child {
                  margin-right: 0;
                  margin-bottom: 10px;
                }
              }
            }

            #contact_buttom {
              text-align: center;
              background-color: #cd0000;
              color: #fff;
              display: block;
              width: 100%;
              padding: 10px 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }



}