@import 'service';
@import 'customer';
@import 'cart';
$color_header:#cd0000;
$color_banner:#ee0000;
$color_title_content:#c80213;
$color_left_service_title :#e31e30;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#breadcrumb{
    padding: 10px 0;
    // background: #fff;
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.sff-gender{
    margin-bottom: 5px;
}
.product_top{
    margin-top: 15px;
}
.product_bottom{
    margin-bottom: 15px;
}
.seo_category{
    height: 200px;
    overflow: hidden;
    position: relative;
    >a{
        background: linear-gradient(to top, #f2ecf8, transparent);
        position: absolute;
        display: block;
        width: 100%;
        height: 60px;
        line-height: 90px;
        left: 0;
        bottom: 0;
        z-index: 1;
        text-align: center;
        font-weight: bold;
        color: #cd0000;
    }
}
#Interested_much{
    padding: 10px 20px;
    b,a{
        color: #999
    }
    a{
        margin-right: 5px;
    }
    a:hover{
        text-decoration: underline;
    }
}
#view_all{
    position: absolute;
    right: 0;
    i{
        color: #e31e30;
        margin-right: 5px;
        font-weight: bold;
    }
}
body{
    position: relative;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
font,
img,
ol,
ul,
li,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #333;
    vertical-align: baseline;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

span {
    line-height: 1.5;
}

i {
    font-style: normal;
    font-weight: normal;
}
.clear {
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}
body {
    width: 100%;
    height: auto;
    font-family: 'Roboto', Helvetica, Arial, sans-senif;
    font-size: 14px;
    // background: #f4f4f4;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}
input {
    outline: none;
}

select {
    outline: none;
}

textarea {
    outline: none;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}
.bold {
    font-weight: bold !important;
}
.default {
    width: 100%;
    float: left;
}

.css-content {
    font: 16px/22px TeXGyreAdventor,Arial,sans-serif;
    box-sizing: border-box;
}

.css-content h1,
.css-content h2,
.css-content h3,
.css-content h4,
.css-content h5 {
    margin: 0.3em 0 0em;
    line-height: 1.5em !important;
}

.css-content a {
    color: #001dff;
}

.css-content figure.sudo-media-item {
    padding-bottom: 10px;
}

.css-content h1 {
    font: 700 24px/28px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h2 {
    font: 700 20px/24px 'Roboto', Helvetica, Arial, sans-senif;
}

.css-content h3 {
    font: 700 18px/21px 'Roboto', Helvetica, Arial, sans-senif;
}

.align-center {
    width: 100% !important;
    text-align: center;
}

.css-content em {
    font-style: italic;
}

.css-content em strong {
    font-style: oblique;
}

.css-content p {
    line-height: 2em;
    padding-top: 10px;
    color: #333;
}

.css-content table {
    max-width: 100%;
    margin: 0 auto 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.css-content table th,
.css-content table td {
    border: 1px solid #ccc;
}

.css-content ul,
.css-content ul li {
    list-style-type: disc;
    margin-left: 10px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.css-content ul li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    color: #333;
}

.css-content ol {
    list-style: decimal;
    padding: 0 0 0 15px;
    margin: 0;
}

.css-content ol li {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.css-content img {
    max-width: 100%;
    height: auto;
}

.css-content blockquote {
    margin-left: 20px;
    font-style: italic;
}


/* Scollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: $color_header;
}

::-webkit-scrollbar-thumb:hover {
    background: $color_header;
}
/*location*/
#location{
    .location{
        &_list{
            display: flex;
            align-items: center;
            margin: 10px 0;
            &_item{
                display: flex;
                align-items: center;
                &:first-child{
                    margin-right: 30px;
                    b{
                        font-weight: unset;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                    select{
                        border: unset;
                        font-size: 16px;
                        font-weight: bold;
                        color: $color_header;
                      
                        option{
                            font-size: 16px;
                            text-transform: unset;
                        }
                    }
                }
                &:last-child{
                    b{
                        font-weight: unset;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                    a{
                        color: #fff;
                        background-color: #ca3e3d;
                        font-weight: bold;
                        border-radius: 20px;
                        padding: 5px 8px;
                    }
                }
            }
        }
    }
}
#location_mobile{
    .wrap{
        position: relative;
    }
    .location_mobile{
        &_list{
            display: flex;
            align-items: center;
            margin: 10px 0;
            &_item{
                display: flex;
                align-items: center;
                &:first-child{
                    margin-right: 30px;
                    b{
                        font-weight: unset;
                        font-size: 12px;
                        margin-right: 10px;
                    }
                    select{
                        border: unset;
                        font-size: 12px;
                        font-weight: bold;
                        color: $color_header;
                        text-transform: uppercase;
                        width: 80px;
                        option{
                            font-size: 12px;
                            text-transform: unset;
                        }
                    }
                }
                &:last-child{
                    position: absolute;
                    right: 10px;
                    b{
                        font-weight: unset;
                        font-size: 12px;
                        margin-right: 10px;
                    }
                    a{
                        font-size: 12px;
                        color: #fff;
                        background-color: #ca3e3d;
                        font-weight: bold;
                        border-radius: 5px;
                        padding: 5px 2px;
                    }
                }
            }
        }
    }
}
/*header*/
.header{
    display: block;
    background-color: $color_header;
    float: left;
    width: 100%;
    overflow: hidden;
    height: 60px;
    .wrap{
        display: flex;
        align-items: center;
        position: relative;
      
    }
    &_logo{
        width: 238px;
        float: left;
        img{
            width: 200px;
        }
    }
    &_search{
        width: 326px;
        float: left; 
        position: relative;
        form{
            input{
                width: 100%;
                padding: 8px;
                font-size: 15px;
                border: none;
                float: left;
           
            }
            button{
                width: 36px;
                height: 33px;
                position: absolute;
                margin: 0 0 0 -36px;
                border: none;
                background: #fff;
                i{
                    font-size: 18px;
                    color: $color_header;
                }
            }
        }
    }
    div.menu{
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        ul{
            li{
                display: inline-block;
                margin: 0 0 0 -5px;
                width: 100px;
                text-align: center;
                position: relative;
                a{
                    color: #fff;
                    div{
                        img{
                            width: 32px;
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .phone{
            display: flex;
            margin-left: 20px;
            &_item{
                &:first-child{
                    margin-right: 10px;
                    i{
                        font-size: 40px;
                        color: #fff;
                    }
                }
                &:last-child{
                    display: flex;
                    flex-direction: column;
                    a,span{
                        color: #fff;
                    }
                    a{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
/*banner*/
.banner{
    margin-top: 10px;
    .wrap{
        display: flex;
        flex-wrap: wrap;
    }
    &_left{
        width: 66%;
        margin-right: 14px;
        .mySlides{
            height: 302px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_list{
            display: flex;
            flex-wrap: wrap;
            padding-top: 4px;
            background-color: #fff;
            align-items: center;
            width: 100%;
            span{
                padding: 6px 4px;
                width: 140px;
                text-align: center;
                position: relative;
                cursor: pointer;
                font-size: 14px;
                height: 52px;
                overflow: hidden;
                &.active{
                    font-size: 14px;
                    color: #000;
                    border-bottom: 2px solid $color_header;
                    font-weight: bold;
                }
            }
            // span.active::before{
            //     content: "";
            //     width: 0;
            //     height: 0;
            //     border-left: 10px solid transparent;
            //     border-bottom: 10px solid #e00;
            //     border-right: 10px solid transparent;
            //     position: absolute;
            //     left: 50%;
            //     top: -9px;
            //     transform: translateX(-50%);
            // }
        }
    }
    &_right{
        width: 32.8%;
        &_top{
            background-color: #fff;
            .title{
                display: flex;
                height: 40px;
                overflow: hidden;
                border-bottom: 1px solid #e1e1e1;
                #title{
                    background-color: $color_header;
                    flex: 1;
                    text-align: center;
                    text-transform: uppercase;
                    position: relative;
                    line-height: 40px;
                    color: #fff;
                    font-weight: bold;
                    padding: 0 7px;
                    &::after{
                        content: "";
                        width: 0;
                        height: 1px;
                        border-left: 0 solid transparent;
                        border-bottom: 19px solid #cd0000;
                        border-top: 19px solid #cd0000;
                        border-right: 11px solid transparent;
                        position: absolute;
                        right: -11px;
                        top: 0;
                    }
                }
                .redline{
                    flex: 2;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-right: 5px;
                    .dot{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #f92d36;
                        position: relative;
                        margin-left: -25px;
                        cursor: pointer;
                        margin-right: 10px;
                        .wave{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #f92d36;
                            border-radius: 50%;
                            animation: wave 2s linear infinite;
                        }
                        @keyframes wave {
                            from {
                              opacity: 0.4;
                            }
                            to {
                              transform: scale(3);
                              opacity: 0;
                            }
                          }
                    }
                    a{
                        color: #f92d36;
                        font-weight: bold;
                    }
                }
            }
            .list{
               margin-top: 10px;
                .item{
                    // border-bottom: 1px solid #ddd;
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                    padding-left: 30px;
                    padding-right: 30px;
                    &:last-child{
                        border-bottom: 0;
                    }
                    a{
                        display: flex;
                        .img{
                            height: 45px;
                            width: 60px;
                            margin-right: 10px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                object-fit: cover;
                                height: 100%;
                            }
                        }
                        .infor{
                            width: 260px;
                            #title{
                                font-weight: unset;
                                font-size: 14px;
                                height: 35px;
                                overflow: hidden;
                            }
                            span{
                                color: #ddd;
                            }
                        }
                    }
                }
            }
        }
        &_banner{
            margin-top: 10px;
            a{
                display: block;
                &:first-child{
                    margin-bottom: 10px;
                }
                img{
                    width: 100%;
                    height: 135px;
                }
            }
        }
    }
}
/*content*/
.content{
    .wrap{
      
    }
    &_title{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #fff;
        height: 40px;
        border-bottom: 1px solid #e1e1e1;
        &::before{
            position: absolute;
            content: '';
            height: 40px;
            width: 5px !important;
            background-color: $color_title_content;
        }
        #title_content{
            text-transform: uppercase;
            margin-left: 15px;
            color: $color_title_content;
            font-weight: 600;
        }
        ul{
            display: flex;
            padding-left: 20px;
            li{
                padding-right: 20px;
                &:last-child{
                    padding-right: 0;
                }
                a{
                    transition: all ease 0.5s;
                }
                &:hover{
                    a{
                        background-color: #c64739;
                        border-radius: 4px;
                        padding: 2px 3px;
                        color: #fff;
                    }
                }
            }
        }
    }

    &_list{
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        // margin-top: 5px;
        &_item#data_service_category{
            width: 25%;
        }
        &_item{
            width: 20%;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-style: solid;
            border-color: #ddd;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
      
            transition: all ease 0.5s;
            a{
                display: block;
                width: 100%;
                transition: all ease 0.5s;
                &:hover{
                    color: #368ad3;
                }
            }
            &:hover  .img img{
                transform: scale(1.04);
            }
            .img{
                width: 100%;
                overflow: hidden;
                height: 200px;
                position: relative;
                img{
                    height: auto;
                    max-width: 80%;
                    object-fit: cover;
                    transition: all ease 0.5s;
                }
                .hover{
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    transition: all ease 0.5s;
                    bottom: -5px;
                    left: 0;
                    width:100%;
                    height: 170px;
                    overflow: hidden;
                    padding: 10px 5px;
                    #title{
                        transition: all ease 0.5s;
                        font-size: 14px;
                        height: 22px;
                        line-height: 22px;
                        overflow: hidden;
                        &:hover{
                            color: #368ad3;
                        }
                    }
                    .promotion{
                        height: 100px;
                        overflow: hidden;
                        p{
                            float: left;
                            text-align: left;
                            width: 100%;
                            line-height: 20px;
                        }
                    }
                    span{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-bottom: 10px;
                        &:hover{
                            color: $color_header;
                        }
                    }
                   
                }
            }
            .infor{
                width: 100%;
                margin-top: 10px;
                // transition: all ease 0.5s;
                p#view{
                    display: none;
                }
                #title{
                    font-weight: unset;
                    font-size: 14px;
                    height: 40px;
                    line-height: 20px;
                    overflow: hidden;
                }
                span{
                    display: block;
                    color: #d9021b;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 0 10px;
                    text-align: center;
                }
               
            }
           
          
            &:hover{
                // border: 1px solid #e31e30;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                .hover{
                    visibility: visible;
                    opacity: 1;
                    bottom: 0;
                    background: rgba(241, 241, 241, 0.9);
                }
               
            }
        }
        /*linh kiện điệ thoại*/
        &_accessories#list_product{
            width: 25% !important;
            .img{
                height: 200px !important;
            }
        }
        &_accessories{
            width: 12.5%;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-style: solid;
            border-color: #e1e1e1;
            padding: 10px 10px;
            position: relative;
            transition: all ease 0.5s;
            &:hover{
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            }
            &:hover{
                .img img{
                    transform: scale(1.04);
                }
               
            }
            .img{
                width: 100%;
                overflow: hidden;
                height: 120px;
                img{
                    transition: all ease 0.5s;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .infor{
                width: 100%;
                margin-top: 10px;
                #title{
                    font-weight: unset;
                    font-size: 14px;
                    height: 40px;
                    line-height: 20px;
                    overflow: hidden;
                    transition: all ease 0.5s;
                }
                #price{
                    strong{
                        color: $color_header;
                    }
                }
               
            }
        }
    }

    &_price-list{
        display: flex;
        flex-wrap: wrap;
        a{
            display: block;
            width: 14.277%;
            // border-right-width: 1px;
            // border-bottom-width: 1px;
            // border-style: solid;
            // border-color: #e1e1e1;
            transition: all ease 0.5s;
            &:hover{
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                .img img{
                    transform: scale(1.04);
                }
            }
            .img{
                width: 100%;
                overflow: hidden;
                height: 100%;
                img{
                    transition: all ease 0.5s;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
/*tin tức*/
.news#new_category{
    display: flex;
}
.news{
    background-color: #fff;
    
    &_list{
        display: flex;
      
        &_item{
            width: 32.667%;
            margin-right: 1%;
            height: 280px;
            position: relative;
            transition: all ease 0.5s;
            &:hover{
                .img{
                    img{
                        transform: scale(1.2);
                    }
                }
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                .infor{
                    h3{
                        a{
                            color: #368ad3;
                        }
                    }
                }
            }
            &:nth-child(3n+3){
                margin-right: 0;
            }
            .img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                img{
                    transition: all ease 0.5s;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .infor{
                position: absolute;
                background-color: #f5f4f4;
                left: 0;
                bottom: 10px;
                margin: 0 20px;
                padding: 5px 20px;
                p{
                    display: flex;
                    align-items: center;
                    margin-left: 5px;
                    span{
                        color: #a6bdbd;
                        &:first-child{margin-right: 10px;}
                        i{
                            color: #a6bdbd;
                        }
                    }
                }
                h3{
                    line-height: 25px;
                    font-size: 14px;
                    height: 46px;
                    overflow: hidden;
                   >a{
                    transition: all ease 0.5s;
                   }
                }
                >a{
                    display: block;
                    float: right;
                    margin: 10px 0;
                    text-transform: capitalize;
                    i{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    &_left{
        width: 75%;
        margin-right: 2%;
        .content_title{
            border-bottom: 0 !important;
            margin-bottom: 10px;
        }
        &_hot{
            display: flex;
            width: 100%;
            padding: 0 10px;
            .list{
                &:first-child{
                    width: 75%;
                    margin-right: 1%;
                    border: 0.5px solid #f2f2f2;
                    transition: all ease 0.5s;
                    &:hover{
                        .infor{
                            #title{
                                color: #368ad3;
                            }
                        }
                    }
                    .img{
                        width: 100%;
                        max-height: 260px;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            transition: all ease 0.5s;
                            padding: 5px;
                        }
                    }
                    .infor{
                        padding: 10px 20px;
                        #time{
                            display: flex;
                            align-items: center;
                            span{
                                color: #a6bdbd ;
                                &:first-child{
                                    margin-right: 10px;
                                }
                            }
                        }
                        #title{
                            line-height: 25px;
                            height: 54px;
                            overflow: hidden;
                            transition: all ease 0.5s;
                        }
                        #detail{
                            line-height: 20px;
                            height: 42px;
                            overflow: hidden;
                            font-size: 14px;
                        }
                    }
                }
                &:last-child{
                    width: 25%;
                    .item{
                        border: 0.5px solid #f2f2f2;
                        margin-bottom: 9px;
                        transition: all ease 0.5s;
                        &:hover{
                            #title{
                                color: #368ad3;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .img{
                            width: 100%;
                            height: 130px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all ease 0.5s;
                                padding: 5px;
                            }
                        }
                        #title{
                            transition: all ease 0.5s;
                            padding: 5px 10px;
                            font-weight: unset;
                            font-size: 14px;
                            line-height: 20px;
                            height: 68px;
                            overflow: hidden;
                        }
                    } 
                }
            }
        }
        &_all{
            padding: 0 10px;
            .item{
                border: 0.5px solid #f2f2f2;
                margin-bottom: 20px;
                transition: all ease 0.5s;
                &:hover{
                   
                    a{
                        .infor{
                            #title{
                                color: #368ad3;
                            }
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    display: flex;
                    .img{
                        width: 30%;
                        overflow: hidden;
                        margin-right: 20px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            transition: all ease 0.5s;
                            padding: 5px;
                        }
                    }
                    .infor{
                        width: 70%;
                        padding: 10px 5px;
                        #time{
                            display: flex;
                            align-items: center;
                            span{
                                color: #a6bdbd ;
                                margin-right: 5px;
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }
                        #title{
                            transition: all ease 0.5s;
                            line-height: 25px;
                            height: 54px;
                            overflow: hidden;
                        }
                        #detail{
                            line-height: 20px;
                            height: 60px;
                            overflow: hidden;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    &_right{
        width: 25%;
        &_list{
            #title_content{
                height: 40px;
                text-transform: uppercase;
                color: #333;
                font-weight: bold;
                display: flex;
                align-items: center;
                font-size: 18px;
                i{
                    margin-right: 10px;
                    color: $color_header;
                    font-size: 20px;
                }
            }
            .item{
                border: 0.5px solid #f2f2f2;
                margin-bottom: 10px;
                transition: all ease 0.5s;
                &:hover{
                    a{
                       #title{
                            color: #368ad3;
                       }
                    }
                }
                &:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                
                a{
                    display: flex;
                    .img{
                        width: 35%;
                        overflow: hidden;
                        margin-right: 5px;
                        padding: 2px 2px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            transition: all ease 0.5s;
                            padding: 5px;
                        }
                    }
                    #title{
                        line-height: 20px;
                        font-size: 14px;
                        padding: 5px 5px;
                        height: 66px;
                        overflow: hidden;
                        font-weight: unset;
                        width: 75%;
                        transition: all ease 0.5s;
                        &:hover{
                            color: #368ad3;
                        }
                    }
                }
            }
            .location{
                border-left: 1px solid #cccccc;
                border-right: 1px solid #cccccc;
                border-bottom: 1px solid #cccccc;
                border-bottom-left-radius:5px;
                border-bottom-right-radius: 5px;
                padding: 20px 10px;
                &_title{
                    margin-bottom: 15px;
                    h4{
                        margin-bottom: 20px;
                    }
                    p{

                    }
                }
                #title{
                    text-transform: uppercase;
                    border-bottom: 1px solid $color_header;
                    margin-bottom: 10px;
                    padding-bottom: 5px;
                }
            }
           
            .item_lc{
                transition: all ease 0.5s;
                line-height: 20px;
                margin-bottom: 30px;
                border-radius: 10px;
                #adrress{
                    font-weight: bold;
                    i{
                        color: #d83135;
                    }
                }
                #phone{
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;
                    a{
                        border-radius: 20px;
                        padding: 5px 8px;
                        box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.3);
                        &:first-child{
                            color: #fff;
                            background-color: #ca3e3d;
                            font-weight: bold;
                            margin-right: 15px;
                        }
                        &:last-child{
                            color: #fff;
                            background-color: #3c89d1;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

}
/*dịch vụ*/
.service{
    .wrap{
        display: flex;
    }
    &_left{
        width: 20%;
        margin-right: 1%;
        height: 100%;
        &_mobile_list_select{
            display: none;
        }
        .menu_item{
            background-color: #fff;
            #title{
                color: #fff;
                background-color: $color_left_service_title;
                padding: 10px 10px;
            }
            ul{
                border: 1px solid #e3e3e3;
                li{
                    border-bottom: 1px solid #ddd;
                    padding: 10px;
                    margin: 0 10px;
                    a{
                        display: block;
                        transition: all ease 0.4s;
                        font-size: 14px;
                    }
                    &:last-child{
                        border-bottom: 0;
                    }
                    &:hover{
                        a{
                            color: #368ad3;
                            font-size: 14px;
                        }
                    }
                }
                li.active{
                   a{
                        color: #368ad3;
                        font-size: 14px;
                   }
                }
            }
        }
    }
    &_right{
        width: 80%;
        background-color: #fff;
        height: 100%;
        &_filter{
            border-bottom: 1px solid #cacaca;
            display: flex;
            padding: 10px 5px;
            align-items: center;
            position: relative;
            flex-wrap: wrap;
            >h1{
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: #333;  
            }
            label.price{
                transition: all ease 0.4s;
                a{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 14px;
                    color: #288ad6;
                    padding: 0 5px 0 5px;
                }
                &:hover{
                    background-color: #c64739;
                    border-radius: 4px;
                    padding: 3px;
                    a{
                        color: #fff;
                    }
                }
            }
            label.active{
                background-color: #c64739;
                border-radius: 4px;
                padding: 3px;
                a{
                    color: #fff;
                }
            }
            .priceprice{
                position: absolute;
                right: 5px;
                display: inline-block;
                font-size: 14px;
                color: #288ad6;
                cursor: pointer;
                >span{
                    &::after {
                        content: '';
                        width: 0;
                        right: 0;
                        border-top: 6px solid #288ad6;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        display: inline-block;
                        vertical-align: middle;
                        margin: -2px 0 0 3px;
                    }
                }
                .listprice{
                    overflow: visible;
                    background: #fff;
                    border: 1px solid #d9d9d9;
                    border-radius: 4px;
                    box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
                    padding: 5px 10px;
                    position: absolute;
                    right: 0;
                    top: 35px;
                    z-index: 9;
                    display: none;
                    width: 160px;
                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: 100%;
                        right: 26px;
                        border-bottom: 10px solid #d9d9d9;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                    }
                    .title{
                        font-weight: bold;
                        color: #333;
                        line-height: 36px;
                    }
                    label{
                        display: block;
                        overflow: hidden;
                        font-size: 14px;
                        color: #333;
                        line-height: 30px;
                        cursor: pointer;
                        a{
                            padding: 0 10px 0 5px;
                        }
                    }
                    label.check{
                      a{
                          color: #e31e30;
                      }
                    }
                    button{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 34px;
                        height: 34px;
                        border: 0;
                        background: #fff;
                        border-radius: 0 4px 4px 0;
                        i{
                            background-image: url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V4/iconacc_desktop@1x.png?v=1);
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 26px;
                            width: 23px;
                            line-height: 30px;
                            vertical-align: middle;
                            background-position: -183px 6px;
                        }
                    }
                }
               
            }
        }
        .category-content-title{
            height: 64px;
            border-bottom: 1px solid #ddd;
            h1{
                height: 64px;
                line-height: 64px;
                float: left;
                margin-left: 10px;
                font-size: 22px;
                font-weight: normal;
            }
            .category-search {
                width: 230px;
                height: 36px;
                float: right;
                margin: 14px 10px 0 0;
                input {
                    width: calc(100% - 20px);
                    padding: 10px;
                    font-size: 15px;
                    float: left;
                    border-radius: 4px;
                    border: 1px solid #cacaca;
                }
                #category-search-btn {
                    width: 36px;
                    height: 37px;
                    position: absolute;
                    margin: 0 0 0 -36px;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    text-align: center;
                    color: #999;
                }
            }
        }
    }
}
/* chi tiết dịch vụ */

/* footer */
.footer{
    background-color: #fff;
    padding-top: 20px;
    .logo_footer{
        a{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .img{
                width: 20px;
                overflow: hidden;
                margin-right: 10px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            #title{
                font-size: 16px;
                text-transform: uppercase;
            }
        }
    }
    .m_footer_1{
        display: flex;
        flex-wrap: wrap;
        .item{
            width: 23.666%;
            margin-right: 20px;
            padding: 10px 5px;
            &:nth-child(4n+4){
                margin-right: 0;
            }
            #title{
                color: #333;
                text-transform: uppercase;
                margin-bottom: 10px;
                border-bottom: 1px solid $color_header;
                padding-bottom: 10px;
            }
            #adrress{
                font-weight: bold;
                color: #222222;
                i{
                    color: #d83135;
                }
            }
            #time{
                margin: 5px 0;
            }
            #phone{
                display: flex;
                justify-content: center;
                margin-top: 15px;
                margin-bottom: 15px;
                a{
                    border-radius: 20px;
                    padding: 5px 8px;
                    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.3);
                    &:first-child{
                        color: #fff;
                        background-color: #ca3e3d;
                        font-weight: bold;
                        margin-right: 15px;
                    }
                    &:last-child{
                        color: #fff;
                        background-color: #3c89d1;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .m_footer_2{

        display: flex;
        flex-wrap: wrap;
        .item{
            width: 23.5%;
            margin-right: 2%;
            &:last-child{
                margin-right: 0;
            }
            #title{
                text-transform: uppercase;
                margin-bottom: 10px;
                font-weight: bold;
            }
            >ul{
                line-height: 25px;
                li{
                    a{
                        font-weight: bold;
                        font-size: 14px;
                        color: #222222bf;
                        transition: all ease 0.5s;
                        &:hover{
                            color: #368ad3;
                        }
                    }
                }
            }
        }
    }
}
footer-bottom{
    background-color:#333 ;
    .wrap{
        display: flex;
        align-items: center;
        position: relative;
        .terms_policies{
            position: absolute;
            right: 0;
            a{
                color: #fff;
                &:last-child{
                    margin-left: 50px;
                }
            }
        }
    }
    p{
        height: 40px;
        color: #fff;
        line-height: 40px;
    }
}
//poup
.popup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    margin: auto;
    width: 60%;
    border-radius: 4px 4px 0px 0px;
}
.popup select {
    float: left;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    color: #000;
}

.popup_title {
    float: left;
    width: 100%;
    height: 43px;
    background: #c64739;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #e5e5e5;
    background: -moz-linear-gradient(top, #c64739 0%, #c64739 100%);
    background: -webkit-linear-gradient(top, #c64739 0%,#c64739 100%);
    background: linear-gradient(to bottom, #c64739 0%,#c64739 100%);

}
.popup_title .title {
    float: left;
    width: calc(100% - 43px);
    line-height: 43px;
    padding-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.popup_title .popup_close {
    float: right;
    font-size: 12px;
    font-weight: bold;
    width: 23px;
    height: 23px;
    line-height: 20px;
    padding-top: 2px;
    border-radius: 20px;
    color: #333;
    text-align: center;
    cursor: pointer;
    background: #fff;
    margin: 10px;
}
.popup_title .popup_close i {
    font-size: 15px;
    color: #c29a46;
}

.popup_main {
    width: 100%;
    float: left;
    background-color: #fff;
}
.popup_product_info {
    width: 50%;
    float: left;
    padding: 10px;
}
.popup-product-image {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
}
.popup-product-image img {
    width: 100%;
    height: auto;
}
.popup_product_title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    padding-bottom: 10px;
    height: 70px;
    overflow: hidden;
    line-height: 22px;
}
.popup_product_price {
    font-size: 20px;
    color: red;
    font-weight: bold;
    padding-bottom: 5px;
}

.popup-color .popup-color-list {
    height: 40px;
    float: left;
    width: 100%;
}
.popup-color .popup-color-list p {
    height: 40px;
    line-height: 40px;
    float: left;
    padding-right: 5px;
    font-size: 14px;
    color: #000;
}
.popup-color .popup-color-list .popup-color-item {
    width: 15px;
    height: 15px;
    float: left;
    margin: 12px 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
}
.popup-color .popup-color-list .active {
    border-color: red;
}

.popup-custom-param-list {
    float: left;
    width: 100%;
}
.popup-custom-param-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 15px;
    color: #000;
}
.popup-custom-param-item p {
    float: left;
}
.popup-custom-param-item p:nth-child(2) {
    margin-left: 5px;
}
.popup-warranty-box {
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 15px;
    font-size: 14px;
    color: #000;
    width: 100%;
}
.popup-warranty-box p {
    float: left;
}

.popup_customer_info {
    width: 50%;
    float: left;
    padding: 10px;
}
.btn-submit-buynow {
    width: 100%;
    height: 36px;
    background: #c64739;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.popup_customer_info_title {
    font-size: 16px;
    color: #333;
    width: 100%;
    float: left;
}
.popup_show {
    opacity: 1;
    visibility: visible;
    transition: 0.5s all ease-in-out;
}

#customer-gender, 
#customer-name,
#customer-phone,
#customer-email,
#customer-location,
#customer-address,
#order-note {
    padding: 5px;
    height: 30px;
    margin-top: 10px;
}

#customer-gender {
    width: 100px;
    float: left;
    margin: 10px 0 0 0;
}
#customer-name {
    float: right;
    width: calc(100% - 110px);
    height: 30px;
    padding: 5px;
}
#customer-phone {
    width: 49%;
    float: left;
}
#customer-email {
    width: 49%;
    float: right;
}
#customer-location {
    margin: 10px 0 0 0;
    width: 100%;
    float: left;
}
#customer-address {
    width: 100%;
    float: left;
    height: 45px;
}
#order-note {
    width: 100%;
    float: left;
    height: 45px;
    margin-bottom: 10px;
}
.layer_cart_product {
    .layer_cart_product_info .layer_cart_product_price {
        color: #e34444;
    }
    .layer_cart_product_info>* {
        display: block;
        line-height: 200%;
    }
    .layer_cart_cart{
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        h4 {
            color: #666;
            font-weight: 500;
        }
    }
    .go_to_cart {
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            padding: 10px 25px;
            border: 1px solid #ccc;
            transition: 0.3s all;
            text-transform: uppercase;
            color: #666;
            &:hover{
                background-color: #c64739;
                color: #fff;
            }
        }
    }
   
}
/*dat hang*/
.page_order{
    padding: 10px;
    background-color: #fff;
    .form_order{
        .row_list{
            display: flex;
            flex-wrap: wrap;
            .col-md-4{
                width: 32%;
                float: left;
                margin-right: 2%;
                &:last-child{
                    margin-right: 0;
                }
                .box_order{
                   .top {
                        text-transform: uppercase;
                        padding: 10px;
                        background: rgb(245,245,245);
                        border-left: 5px solid #ccc;
                    }
                    .list_radio {
                        margin-top: 20px;
                       
                    }
                }
            }
        }
    }
}
.page_order [type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.page_order [type="radio"]:checked + label, .page_order [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.page_order [type="radio"]:checked + label:before {
    border: 2px solid rgb(195,27,27);
}
.page_order [type="radio"]:checked + label:before, .page_order [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 3px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.page_order [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.page_order [type="radio"]:checked + label:after, .page_order [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: rgb(195,27,27);
    position: absolute;
    top: 7px;
    left: 8px;
    border-radius: 100%;
    transition: all 0.2s ease;
}
.page_order [type="radio"]:checked + label, .page_order [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 28px;
    display: inline-block;
    color: #666;
}
.page_order [type="radio"]:checked + label, .page_order [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 28px;
    display: inline-block;
    color: #666;
}
.page_order [type="radio"]:checked + label:before, .page_order [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 3px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.page_order [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.page_order [type="radio"]:checked + label:after, .page_order [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: rgb(195,27,27);
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 100%;
    transition: all 0.2s ease;
}
.page_order .form_order .box_order .list_input input {
    width: 93%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
}
.page_order .form_order .box_order textarea {
    width: 93%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #eee;
}
.page_order .form_order .box_right .list_item {
    overflow-y: scroll;
    max-height: 280px;
    .item{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
        border-bottom: 1px dotted #eee;
        padding-top: 10px;
    }
}
.page_order .form_order .box_right .list_item .item .img {
    width: 50px;
    float: left;
    margin-right: 5px;
}
.page_order .form_order .box_right .list_item .item .info .price{
    margin: 5px 0;
}
.page_order .form_order .box_right .list_item .item .img img {
    max-width: 100%;
}
.page_order .form_order .box_right .list_item .item .info .price .price_sale {
    font-weight: bold;
}
.page_order .form_order .list_btn {
    padding-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
    .btn_order{
        position: absolute;
        right: 5px;
        button{
            color: white;
            width: 300px;
            text-transform: uppercase;
            border: 1px solid #368ad3;
            padding: 10px;
            font-size: 16px;
            color: #368ad3;
            transition: 0.5s all;
            &:hover{
                background: #368ad3;
                color: #fff;
            }
        }
    }
    .btn_back_home{
        a{
            color: $color_header;
            transition: 0.5s all;
            text-transform: uppercase;
            &:hover{
                color: #368ad3;
            }
        }
    }
}
.mobile_footer{
    display: none;
}
.header_mobile{
    display: none;
}
/*
contact
*/
.contact{
    .wrap{
        h1#title{
            font-size: 20px;
            color: #e31e30;
        }
        .map_contact{
            width: 100%;
            overflow: hidden;
            iframe{
                width: 100%;
            }
        }
    }
    &_list{
        display: flex;
        flex-wrap: wrap;
        .left{
            width: 48%;
           
            margin-right: 2%;
           
            .item{
                margin: 20px 0;
                #title{
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                }
                #adrress{
                    color: #555555d1;
                    margin: 15px 0;
                    i{
                        color: #333;
                        margin-right: 5px;
                    }
                }
                #phone{
                    a{
                        color: #555555d1;
                        i{
                            color: #333;
                            margin-right: 5px;
                        }
                        &:first-child{
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
        .right{
            width: 48%;
            .form_contact{
                form{
                    .form-group{
                        margin-bottom: 10px;
                        input,textarea{
                            padding: 10px 10px;
                            resize: vertical;
                            border: 1px solid #dedede;
                            outline: none;
                            transition: 0.3s all ease;
                            box-sizing: border-box;
                            width: 100%;
                        }
                    }
                    #email_phone{
                        display: flex;
                        flex-wrap: wrap;
                        input{
                            width: 49%;
                            &:first-child{
                                margin-right: 10px;
                            }
                        }
                    }
                    #contact_buttom{
                        text-align: center;
                        background-color: #e31e30;
                        color: #fff;
                        display: block;
                        width: 100%;
                        padding: 10px 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
/*
modal
*/

    .modal_content{
        padding: 15px;
        >p{
            margin-left: 20px;
        }
    }
    .list_radio{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
        .item{
            width: 48%;
            background-color: #e31e30;
            text-align: center;
            margin-bottom: 20px;
            padding: 10px 0;
            color: #fff;
            border-radius: 5px;
            margin: 1%;
            label{
                cursor: pointer;
                span{
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
    .moal_form{
        margin: 0 80px;
        margin-top: 15px;
        .form-group{
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            i.icon{
                padding: 10px;
                border: 1px solid #a1a1a1;
                color: #003561;
                min-width: 50px;
                text-align: center;
                font-size: 25px;
            }
            input.input-field{
                width: 100%;
                padding: 10px;
                outline: none;
                border: 1px solid #a1a1a1;
            }
        }
        #buttom_modal{
            background: #e31e30;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            padding: 10px 0;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 5px;
        }
    }

#viewmore{
    text-align: center;
    margin: 20px 0;
    button{
        width: 240px;
        font-size: 14px;
        color: #288ad6;
        cursor: pointer;
        border: 1px solid #288ad6;
        border-radius: 4px;
        text-align: center;
        transition: all ease 0.5s;
        cursor: pointer;
        background: #fff;
        padding: 12px 5px;
        margin-bottom: 10px;
        &:hover{
            background-color: $color_header;
            color: #fff;
        }
    }
}
/* pagination */
.pagination-box {
    float: left;
    width: 100%;
    text-align: center;
   padding-top: 48px;
   padding-bottom: 40px;
}
.pagination {
    width: 100%;
    display: block;
    li.disabled{
        display: none;
    }
    li{
        margin-right: 20px;
        display: inline-block;
        border: 1px solid #ddd;
        height: 40px;
        width: 40px;
        padding-top: 4px;
        a{
            font-size: 16px;

        }
    }
}
.pagination li:hover {
    background-color: $color_header;
    transition: 0.2s all ease-in-out;
}
.pagination li:hover a,
.pagination li:hover span {
    color: #fff;
    transition: 0.2s all ease-in-out;
}
.pagination .active {
    background-color: $color_header;
}
.pagination .active span {
    color: #fff;
}
.pagination a,
.pagination span {
    display: block;
    padding: 5px 10px;
}
.pagination .pageCount { 
    background-color: #ab7500;
}
.pagination .pageCount a {
    color: #fff;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
  }
/**
css cho thông tin khác cho mobile
*/
  .m_footer_2_mobile{
      .item{
        #title{
            font-size: 15px;
            font-weight: bold;
        }
        >ul{
            padding: 0 5px;
            >li{
                a{
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    font-weight: 400 !important;
                    color: #278AD6;
                }
            }
        }
      }
  }
  /**
  css cho địa chỉ phần mobile
  */
  .m_address_2_mobile{
      #title{
        font-size: 15px;
        font-weight: bold;
      }
      .item{
          padding: 0 5px;
          p#adrress,p#phone{
            margin-top: 5px;
            margin-bottom: 10px;
            i{
                color: #278AD6;
                margin-right: 5px;
            }
          }
          p#phone{
            display: flex;
            a{
                &:first-child{
                    margin-right: 10px;
                }
            }
          }
      }
  }
  