

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    >.item{
        flex: 1;
    }
}

.row-center{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.column-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closeBtn{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    &:before, &:after{
        content: "";
        position: absolute;
        width: 18px;
        height: 1px;
        background-color: #333;
        top: 50%;
        left: 50%;
    }

    &:before{
        transform: translate(-50%,-50%) rotate(45deg);
    }

    &:after{
        transform: translate(-50%,-50%) rotate(-45deg);
    }
}

#redirect{
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 99;
    >div{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        // overflow: hidden;
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        position: relative;
        cursor: pointer;
        &:hover{
            p{
                display: block;
            }
        }
        p{
            position: absolute;
            display: none;
            color: #fff;
            font-size: 12px;
            padding: 10px;
            border-radius: 5px;
            background-color: #333;
            width: 110px;
            right: 100%;
            &:after{
                content: "";
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                border-left: 5px solid #333;
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
            }
        }

        i{
            width: 40px;
            height: 40px;
            background-color: #cd0000;
            border-radius: 100%;
            display: block;
            font-size: 20px;
            color: #fff;
            line-height: 40px;
            text-align: center;
        }
        &.gotoTop{
            visibility: hidden;
            cursor: pointer;
        }

        &.call{
            i{
                font-size: 32px;
            }
        }
    }
}

#contact{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    >div{
        width: 50px;
        height: 50px;    
        border-radius: 100%;
        overflow: hidden;
        background-color: #fff;
        margin-bottom: 5px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
        >a{
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            img{
                width: 100%;
                height: 100%;
                padding: 5px;
            }
        }

    }
}

#messagebox{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    &.active{
        display: flex;
    }
    .content{
        height: 400px;
        width: 600px;
        overflow: hidden;
        border-radius: 10px;
        .item{
            position: relative;
            >a{
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img{
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                    max-width: 300px;
                }
            }
            &:nth-child(2){
                background-color: #fff;
                .closeBtn{
                    top: 5px;
                    right: 5px
                }
            }
    
            form{
                width: 100%;
                padding: 20px 15px;
                height: 100%;
                >p{
                    font-size: 18px;
                    margin-bottom: 10px;
                    font-family: "Roboto-Bold";
                    display: block;
                    width: 100%;
                }
                input, textarea{
                    margin-bottom: 12px;
                    font-family: inherit;
                    width: 100%;
                    padding: 10px;
                    border-radius: 20px;
                    background-color: #f5f5f5;
                    transition: all ease 0.5s;
                    resize: none;
                    &:focus{
                        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
                    }    
                }

                button{
                    background-color: #fabf00;
                    color: #333;
                    width: 100%;
                    padding: 10px;
                    border-radius: 20px;
                    transition: all ease 0.5s;
                    &:hover{
                        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
                    }
                }
            }
        }
    }
}

#call{
    position: fixed;
    width: 45px;
    height: 45px;
    z-index: 99;
    left: 10px;
    bottom: 10px;
    &:hover{
        p{
            width: 180px;
            padding-left: 65px;
        }
    }

    a{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        i{
            font-size: 25px;
            color: #fabf00;
        }
    }

    p{
        z-index: 1;
        display: block;
        position: absolute;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0 10px 10px 0;
        transition: all ease 0.5s;
        width: 0;
        padding-left: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 30px;
        line-height: 45px;
        color: #fabf00;
        overflow: hidden;
        font-family: "Roboto-Bold", sans-serif;
    }
}

#behavior{
    position: fixed;
    width: 45px;
    left: 0;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.3);
    a{
        &:hover{
            p{
                display: block;
            }
        }
        width: 45px;
        height: 45px;
        i{
            font-size: 20px;
            color: #333;
        }
       p{
            position: absolute;
            display: none;
            color: #fff;
            font-size: 12px;
            padding: 10px;
            border-radius: 5px;
            background-color: #333;
            width: 110px;
            left: 40px;
            
       }
    }
}

#basket{
    position: fixed;
    top: 0;
    right: -420px;
    width: 400px;
    height: 100%;
    padding: 20px;
    transition: all ease-in-out 0.7s;
    background-color: #333;
    z-index: 100;
    box-shadow: -10px 1px 10px 1px rgba(0,0,0,0.3);
    opacity: 0;
    &.active{
        right: 0;
        opacity: 1;
        visibility: visible;
    }
    >p{
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .closeBtn{
        top: 20px;
        right: 20px;
        &:after, &:before{
            background-color: #fff;
            width: 25px;
        }
    }

    .item{
        width: 100%;
        position: relative;
        margin-bottom: 12px;
        border-bottom: #e5e5e5;
        .img{
            width: 97px;
            height: 97px;
            margin-right: 12px;
            img{
                width: 100%;
            }
        }

        .detail{
            width: calc(100% - 109px);
            padding-right: 60px;
            h3{
                display: -webkit-box;
                line-height: 22px;
                font-family: "Roboto-Bold", sans-serif;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                box-sizing: border-box;
                margin-bottom: 5px;
                color: #fff;
            }
            span{
                color: #fabf00;
                font-size: 14px;
                margin-bottom: 5px;
            }

            p{
                font-size: 15px;
                color: #fff;
            }
        }

        i{
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 16px;
            color: #fff;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            &:hover{
                background: #6f0606;
            }
        }
    }

    .action{
        width: 100%;
        a{
            color: #fff;
            width: 48%;
            text-transform: uppercase;
            text-align: center;
            display: block;
            transition: all ease 0.5s;
            &:hover{
                transform: translateY(-3px);
            }
            &:nth-child(1){
                margin-right: 4%;
                background: linear-gradient(#2296e9, #32435d) no-repeat;
                box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #36332a;
            }
            &:nth-child(2){
                background: linear-gradient(#cf1b1beb, #6f0606) no-repeat;
                box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #36332a;
            }
        }
    }
}

#search{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    padding-top: 180px;
    display: none;
    z-index: 102;
    
    form{
        margin: 0 auto;;
        display: flex;
        width: 800px;
        height: 60px;
        border-bottom: 2px solid #fafafa;
        padding-right: 10px;
        input{
            font-size: 18px;
            width: 740px;
            font-style: italic;
            background-color: transparent;
            padding-left: 30px; 
            color: #fff;
            &::placeholder{
                color: #fafafa;
            }
        }
        button{
            width: 50px;
            i{
                font-size: 30px;
                color: #fff;
            }
        }
    }
}

#hotline{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 0;
    left: 0;
    &.active{
        display: flex;
    }
    .content{
        width: 500px;
        padding: 20px 50px;
        background-color: #fff;
        border-radius: 20px;
        i:first-child{
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 18px;
            margin-bottom: 10px;
            border: 1px solid #cacaca;
            border-radius: 100%;
            margin-bottom: 10px;
        }
        strong, b, i, p{
            text-align: center;
            display: block;
        }

        p{
            font-size: 18px;
            line-height: 22px;
        }

        strong{
            font-size: 24px;
            margin-bottom: 10px;
        }

        i{
            line-height: 18px;
            font-size: 14px;
            margin-bottom: 10px;
        }

        b{
            font-size: 22px;
            color: #fabf00;
            padding: 10px 0;
            font-family: "Roboto-Bold", sans-serif;
        }

        .closeBtn{
            position: relative;
            top: unset;
            right: unset;
            padding: 5px;
            border-radius: 3px;
            color: #fff;
            background-color: #F5003B;
            text-align: center;
            width: 100px;
            &:after, &:before{
                display: none;
            }
        }
    }
}

.cart{
    position: fixed;
    &__item{
        .img{
            flex: 1;
            margin-right: 10px;
        }
        .detail{
            flex: 2;
            h3{
                font-family: "Roboto-Bold";
                margin-bottom: 10px;
            }

            p{
                color: #fabf00;
                margin-bottom: 5px;
            }
        }
    }
}

.tproduct{
    position: relative;
    >a{
        display: block;
        width: 100%;
        height: 100%;
    }
    &:hover{
        .timg{
            img{
                transform: scale(1.2);
            }
        }

        .tcart{
            i{
                transform: scale(1);
            }
        }
    }
    .timg{
        width: 100%;
        overflow: hidden;
        height: 100%;
        img{
            width: 100%;
            transition: all ease 0.5s;
        }
    }

    .tcart{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 100%;
            background-color: #2c2a2a;
            margin-right: 10px;
            transition: all ease 0.5s;
            transform: scale(0);
            &:last-child{
                margin-right: 0;
            }
            font-size: 20px;
            color: #fabf00;
        }
    }

    .tdetail{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 30px 10px 10px;
        background-image: linear-gradient(to bottom, transparent, #000);
        h3{
            font-family: "Roboto-Regular";
            margin-bottom: 3px;
            color: #fff;
            font-weight: normal;          
            font-size: 14px;
        }
        span{
            font-size: 14px;
            color: #fabf00;
        }
    }
}

.tnews{
    position: relative;
    height: 220px;
    .timg{
        width: 100%;
        img{
            width: 100%;
        }
    }

    .tdetail{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px 10px 10px;
        background-image: linear-gradient(to bottom, transparent, #000);
        h3{
            color: #fff;
            font-family: "Roboto-Regular", sans-serif;
            margin-top: 7px;  
            font-weight: normal;          
            font-size: 16px;
        }
        p{
            font-size: 14px;
            color: #fafafa;
            i{
                margin-right: 4px;
            }
        }
    }
}

.phe_btn{
    display: block;
    padding: 10px 14px;
    border-radius: 20px;
    background: #fabf00;
    color: #333;
    font-size: 14px;
    background: linear-gradient(#fabf006e,#fabf00) no-repeat;
    box-shadow: 0 7px 13px -3px rgba(45,35,66,0.3), 0 2px 4px 0 rgba(45,35,66,0.4), inset 0 -2px 0 0 #9f8945;
}

p.big_title{
    display: block;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 30px;
    &:before{
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        background: #fabf00;
        top: 0;
        left: 0;
    }

    &:after{
        content: "";
        position: absolute;
        height: 3px;
        width: 70px;
        background: #fabf00;
        bottom: 0;
        left: 0;
    }
}

#menu{
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.15);
    background-color: #f0f2f5;
    height: 45px;
    position: relative;
    z-index: 2;

    &.sticky{
        height: 70px;
        padding: 10px;
        .container{
            >a.left{
                i{
                    display: none;
                }
                img{
                    height: 100%;
                    display: block;
                }
            }
        }
    }

    .container{
        height: 100%;
        >a.left{
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            height: 100%;
            i{
                height: 45px;
                width: 45px;
                font-size: 30px;
                line-height: 45px;
                text-align: center;
            }
            img{
                display: none;
            }
        }

        nav{
            >ul{
                list-style-type: none;
                display: flex;
                justify-content: flex-end;
                height: 45px;
                >li{
                    height: 100%;
                    position: relative;
                    &:last-child{
                        a{
                            width: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i{
                                position: relative;
                                top: unset;
                                right: unset;
                                font-size: 25px;
                                transform: unset;
                                font-weight: normal;
                            }
                        }
                    }
                    &:hover{
                        .sub_menu{
                            height: unset;
                            top: 100%;
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                    >a{
                        padding: 0 12px;
                        display: block;
                        height: 45px;
                        width: 100%;
                        line-height: 45px;
                        text-align: center;
                        position: relative;
                        p{
                            text-transform: uppercase;
                            font-family: "Roboto-Bold", sans-serif;
                            display: block;
                            margin-right: 10px;
                        }
                        >i{
                            position: absolute;
                            font-weight: 600;
                            right: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    .sub_menu{
                        position: absolute;
                        list-style-type: none;
                        display: flex;
                        height: 0;
                        overflow: hidden;
                        flex-direction: column;
                        width: 200px;
                        background-color: #f0f2f5;
                        border-radius: 5px;
                        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
                        top: 120%;
                        left: 0;
                        transition: all ease 0.5s;
                        z-index: -1;
                        opacity: 0;
                        li{
                            padding: 0px 10px;
                            a{
                                display: block;
                                width: 100%;
                                padding: 12px 0;
                                border-bottom: 1px solid #d8d8d8;
                                transition: all ease 0.5s;
                                &:hover{
                                    color: #fabf00;
                                    transition: translateX(-2px);
                                }
                            }
                            &:last-child{
                                a{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}

.menu-fixed{
    position: fixed !important;
    z-index: 99 !important;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
    top: 0;
}

.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInDown{
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}